<% if @messages.nil? %>
  <%= there is no message %>
<% else %>
  <!-- insta user !--> 
  <% if current_instauser %>
 

<a href="/messages" class="msgback"><i class="fa fa-angle-left"></i><%= @messages.first.branduser.coname.upcase %></a><br><br>
    <ul class="messageul">
    <% @messages.each do |z| %>

    <% if z.sender==0 && z.message!="" %>
       <li class="clearfix">
        <div class="messagebox pull-left"><span class="messagename"><%= z.branduser.coname %><em class="pull-right"><%= time_ago_in_words(z.created_at)+" ago" %></em></span><p class="bubble bubble2"><%= z.message %></p></div>
       </li>

         
        <% elsif z.sender==1 && z.message!="" %>
        <li class="clearfix">
          <div class="messagebox pull-right"><span class="messagename"><em class="text-right"><%= time_ago_in_words(z.created_at)+" ago" %></em></span><p class="bubble"> <%= z.message %></p></div>
        </li> 
        
        <% end %>
   
        <% end %>
    </ul>
     
      
      <%= form_for Message.new(), remote: true do |f| %>
       <div class="form-group form-noborder form-message">
        <%= f.text_area :message, :placeholder=> "write a message...", :onfocus=>"this.placeholder = ''",:onblur=> "this.placeholder='write a message...'" , rows: "5" %><br> 
      </div>
     
      <div class="row row0 text-right">  
        <%= button_tag(type: 'submit', class: "btn btn-send btn-send2",  data: {disable_with: "SENDING..."} ) do %>
<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;SEND
<% end %>
</div> 

      
         
        <%= f.hidden_field :instauser_id, value: current_instauser.id %>
        <%= f.hidden_field :branduser_id, value: @branduser.id %>
        <%= f.hidden_field :sender, value: 1 %>
      

      <% end %>
  
  <% end %>
   <br><br>

  <!-- brand user !--> 
  <% if current_branduser %>
  <a href="/messages" class="msgback"><i class="fa fa-angle-left"></i><%= @messages.first.instauser.firstname.upcase %></a><br><br>
    <ul class="messageul">
    <% @messages.each do |z| %>
     
        <% if z.sender==1 && z.message!="" %>
          <li class="clearfix">
        <div class="messagebox pull-left"><span class="messagename"><%= z.instauser.firstname %><em class="pull-right"><%= time_ago_in_words(z.created_at)+" ago" %></em></span><p class="bubble bubble2"><%= z.message %></p></div>
       </li>

             
        <% elsif z.sender==0 && z.message!="" %>
           <li class="clearfix">
          <div class="messagebox pull-right"><span class="messagename"><em class="text-right"><%= time_ago_in_words(z.created_at)+" ago" %></em></span><p class="bubble"> <%= z.message %></p></div>
        </li> 


   
        <% end %>
 
    <% end %>

     </ul>
      <%= form_for Message.new(), remote: true do |f| %>
        <%= f.text_area :message, class: "form-control", rows: "4" %><br> 
       <div class="row row0 text-right">  
           <%= button_tag(type: 'submit', class: "btn btn-send btn-send2",  data: {disable_with: "SENDING..."} ) do %>
<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;SEND
<% end %>
         </div>
        <%= f.hidden_field :branduser_id, value: current_branduser.id %>
        <%= f.hidden_field :instauser_id, value: @instauser.id %>
        <%= f.hidden_field :sender, value: 0 %>
      <% end %>
     
  <% end %>
<% end %>
<br><br>
<div class="row row0 text-right">  
<a href="/messages"><%= "BACK TO MESSAGES" %></a></DİV><br><br>
 <!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');
</script>