<%= render 'layouts/header2' %>
<div class="txtpage">
<div class="container">
  <% if (instauser_logged_in? && !branduser_logged_in?) %>

    <% if @brandusers.present? %>
      <h2 class="text-center">  MESSAGES</h2>
      <div id="publish" class="messages-list">
        <div class="msgpage">
          <div class="container">

            <div class="col-xs-12">
              <div id="leftbar" class="messages-leftbar">

 
                  <ul class="list-group" id="form">  
                       <% @brandusers.each do |x| %>
                         <li class="list-group-item">  
                          <font face="Roboto" size="3"> 
                         <%= link_to x.coname, list_messages_path(branduser_id: x.id) %></font>
                     
                              <span class="pull-right">
                              <% unless !x.image.nil? %>
                              <img src="<%=x.image %>" onerror="imgError(this);" width="28" %>
                                <% end %>
                               </span>

                                    <% count = unread_instauser_messages_count(current_instauser, x) %>
                                    <%= "#{count} unread".html_safe if count > 0 %><br>
                                     <% @lastmessage= Message.where(branduser_id: x.id).where(sender: "0").last %> <% unless @lastmessage.nil? %>
                                    <font face="Roboto" size="1" color="grey"><%= "last seen " + time_ago_in_words(@lastmessage.created_at)+ " ago" %>  <% end%>
                             </li>  
                           <br> 
                      
                  <% end %>
             </ul>  
               
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
 
      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from brands you are communicating with. You will be able to send messages as soon as you receive a proposal. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>

  <% elsif branduser_logged_in? && !instauser_logged_in? %>
    <% if @instausers.present? %>
      <h2 class="text-center">  MESSAGES</h2>
      <div id="publish" class="messages-list">
        <div class="msgpage">
          <div class="container">

            <div class="col-xs-12">
              <div id="leftbar" class="messages-leftbar">

 
                  <ul class="list-group" id="form">  
              <% @instausers.each do |x| %>
                      <li class="list-group-item">  
                          <font face="Roboto" size="3"> 
                    <%= link_to x.firstname, list_messages_path(instauser_id: x.id) %>
                    <span class="pull-right"><img src="<%= x.profile_picture %>" width= "28" onerror="imgError(this);"></span>
                    </h4>
                           </font>

                         <% count = unread_branduser_messages_count(current_branduser, x) %>
                         <%= "#{count} unread".html_safe if count > 0 %>            
                       </li>
                 <% end %> 
                   </ul>
               </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>

      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from brands you are communicating with. You will be able to send messages to a brand as soon as you receive a proposal from them. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>
  <% end %>
</div></div>

<!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>
 
