<%= render 'layouts/header2' %>
<div class="txtpage">
<div class="container">
  <% if (instauser_logged_in? && !branduser_logged_in?) %>

    <% if @brandusers.present? %>
      <h2 class="text-center">  MESSAGES</h2>
      <div id="publish" class="messages-list">
        <div class="msgpage">
          <div class="container">

            <div class="col-xs-12">
              <div id="leftbar" class="messages-leftbar">
                <ul class="list-group" id="form">
                  <% @brandusers.each do |x| %>
                    <li class="list-group-item" align="center">
                      <font face="Roboto">
                        <%= link_to x.coname, list_messages_path(branduser_id: x.id) %>
                      </font>
                      <span class="pull-right">
                        <% unless !x.image.nil? %>
                          <img src="<%=x.image %>" onerror="imgError(this);" width="28" %>
                        <% end %>
                      </span>

                      <% count = unread_instauser_messages_count(current_instauser, x) %>
                      <%= "#{count} unread".html_safe if count > 0 %><br>
                      <font face="Roboto" size="1" color="grey"><%= "last seen " + time_ago_in_words(x.messages.last.updated_at)+ " ago" %></font>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
 
      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from brands you are communicating with. You will be able to send messages as soon as you receive a proposal. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>

  <% elsif branduser_logged_in? && !instauser_logged_in? %>
    <% if @instausers.present? %>
      <div class="row">
        <div class="col-xs-4">
          <div id="leftbar" class="messages-leftbar">
            <ul class="list-group" id="form">
              <% @instausers.each do |x| %>
                <li class="list-group-item">
                  <font face="Lobster">
                    <h4>
                    <%= link_to x.firstname, list_messages_path(instauser_id: x.id) %>
                    <span class="pull-right"><img src="<%= x.profile_picture %>" width= "28" onerror="imgError(this);"></span>
                    </h4>
                  </font>

                  <% count = unread_branduser_messages_count(current_branduser, x) %>
                  <%= "#{count} unread".html_safe if count > 0 %>            
                </li>
              <% end %> 
            </ul>
          </div>
        </div>
        <div class="col-xs-8">
          <div id="publish" class="messages-list">
          </div> 
        </div>
      </div>
    <% else %>

      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from brands you are communicating with. You will be able to send messages to a brand as soon as you receive a proposal from them. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>
  <% end %>
</div></div>
 
