<%= render 'layouts/header2' %>


 


<div class="msgpage">
<div class="container">
  <% if (instauser_logged_in? && !branduser_logged_in?) %>

    <% if @brandusers.present? %>
<h2 class="text-center"> MESSAGES</h2>
    <div class="col-xs-12">
      <div class="messages-leftbar" id="leftbar">
        <ul id="form" class="list-group">  
                       <% @brandusers.each do |x| %>

<li class="list-group-item list-message clearfix">

          <a href="<%= list_messages_path(branduser_id: x.id) %>" class="clearfix"><span class="pull-left"><span class=""><img width="50" height="50" src="<%= image_url("#{x.coname.downcase}" +"m"+ ".png") %>"></span><span class="messageuser"><%= x.coname.titleize %></span></span><span class="pull-right text-right"><% count = unread_instauser_messages_count(current_instauser, x) %>

            <%if count >0 %>
            <em class="messageunread"><i class="fa fa-envelope"></i>  <%= "#{count} unread".html_safe  %></em>
            <%elsif count==0 %>
            <em class="messageunread messageread"><i class="fa fa-envelope-o"></i></em>


            <%end%>
            </span>
            <span class="clearfix"></span>
            <em class="lastseen text-right">
            <% @lastmessage= Message.where(branduser_id: x.id).where(sender: "0").last %> <% unless @lastmessage.nil? %><br><%= "last seen " + time_ago_in_words(@lastmessage.created_at)+ " ago" %> <%end%></em>

          </a>

  </li>
           
                      
                  <% end %>
             </ul>  
               
              </div>
            </div>
          
              
    <% else %>
 
      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from brands you are communicating with. You will be able to send messages as soon as you receive a proposal. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>

  <% elsif branduser_logged_in? && !instauser_logged_in? %>
    <% if @instausers.present? %>
 
    <h2 class="text-center"> MESSAGES</h2>
    <div class="col-xs-12">
      <div class="messages-leftbar" id="leftbar">
        <ul id="form" class="list-group">  
     <% @instausers.each do |x| %>

          <li class="list-group-item list-message clearfix">
          <a href="<%= list_messages_path(instauser_id: x.id) %>" class="clearfix"><span class="pull-left"><span class="avatar"><img width="50" height="50" src="<%= x.profile_picture %>"></span><span class="messageuser"><%= x.firstname.titleize %></span></span><span class="pull-right text-right"><% count = unread_branduser_messages_count(current_branduser, x) %>

            <%if count >0 %>
            <em class="messageunread"><i class="fa fa-envelope"></i>  <%= "#{count} unread".html_safe if count > 0 %></em>
            <%elsif count==0 %>
            <em class="messageunread messageread"><i class="fa fa-envelope"></i></em>


            <%end%>

          </span></a></li>
      
      <% end %> 
    
        </ul>
      </div>
    </div>

 
    <% else %>

      <h2 class="text-center">MESSAGES</h2>
      This is where you will receive messages from Instagrammers you are working with. You will be able to send messages to an Instagrammer as soon as you send a proposal from them. 
      <br /><br />
      You currently have no messages. 
 
    <% end %>
  <% end %>
</div></div>

<!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');
</script>
<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>
 
