 <%= render 'layouts/header2' %>

<!--
instauser: <%= @instauser_id %><br>
branduser: <%= @branduser_id %>
sender: <%= @sender %>  !-->
 

<div class="msgpage">
<div class="container"> 
  <h2 class="text-center proptitle">SEND A MESSAGE</h2>

  
  <% if @sender==0 %>

        <%= form_for(@message) do |f| %>  

    <div class="clearfix">
      <a class="avatar" href="#"><img width="30" height="30" src="<%= @instauser.profile_picture%>"></a>
      <span class="messageto">To: <%= @instauser.firstname %></span>
    </div>
    <div class="form-group form-noborder form-message">

      <%= f.text_area :message, onblur: "this.placeholder='write a message...'", onfocus: "this.placeholder = ''" , placeholder: "write a message...", rows: "15" %>
       
    </div>
    <div class="row row0 text-right">
    <%= button_tag(type: 'submit', class: "btn btn-send btn-send2",  data: {disable_with: "SENDING..."} ) do %>
<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;SEND
<% end %></div>

<%=  f.hidden_field :instauser_id, :value => @instauser_id %>
     <%= f.hidden_field :branduser_id, :value => @branduser_id %>
      <%= f.hidden_field :sender, :value => @sender %>
   
<%end%>

<% elsif @sender==1 %>
    
  <%= form_for(@message) do |f| %>  
      <div class="clearfix">
       
      <span class="messageto"> <% unless @branduser.nil? %>To:  <%= @branduser.coname %><%end%></span>
    </div>
    <div class="form-group form-noborder form-message">
 <%= f.text_area :message, onblur: "this.placeholder='write a message...'", onfocus: "this.placeholder = ''" , placeholder: "write a message...", rows: "15" %>

 </div>
    <div class="row row0 text-right">
    <%= button_tag(type: 'submit', class: "btn btn-send btn-send2",  data: {disable_with: "SENDING..."} ) do %>
<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;SEND
<% end %></div>

     <%=  f.hidden_field :instauser_id, :value => @instauser_id %>
     <%= f.hidden_field :branduser_id, :value => @branduser_id %>
      <%= f.hidden_field :sender, :value => @sender %>
      
 <%end%>


<% else %>
<% redirect_to root_path %>

<%end%>









</div>
</div>