
<!--
instauser: <%= @instauser_id %><br>
branduser: <%= @branduser_id %>
sender: <%= @sender %>  !-->
 

<div class="container">

 <% if @sender==0 %>

  <%= form_for(@message) do |f| %>  



 

    <div class="badge badge-info"><h4>
<% res = Net::HTTP.get_response(URI.parse(@profile_picture)) %>
<% if res.code.to_i >= 200 && res.code.to_i < 400 %>    
 
<%= image_tag(src=@profile_picture, width: "50", class: "margin") %><%end%> To: <%= @instauser.fullname %></h4> </div>
      <br> 
      <br>

 <div class="input-group-lg"> 
    <div class="form-group">


     <%= f.text_area :message, class: "form-control" , rows: "15" %><br> 
       <div class="actions"> 
    <%= f.submit "Send", data: {disable_with: "Uploading Now..."} %> 
   </div>
     <%=  f.hidden_field :instauser_id, :value => @instauser_id %>
     <%= f.hidden_field :branduser_id, :value => @branduser_id %>
      <%= f.hidden_field :sender, :value => @sender %>
  </div>  
 <%end%>

  <% elsif @sender==1 %>
    
  <%= form_for(@message) do |f| %>  
      <div class="badge badge-info"><h4> To:  <%= @branduser.coname %></h4> </div>
      <br> 
      <br>
     <%= f.text_area :message, class: "form-control" , rows: "15" %><br> 
       <div class="actions"> 
    <%= f.submit "Send", data: {disable_with: "Sending..."} %> 
   </div>
     <%=  f.hidden_field :instauser_id, :value => @instauser_id %>
     <%= f.hidden_field :branduser_id, :value => @branduser_id %>
      <%= f.hidden_field :sender, :value => @sender %>
  </div>  

   <% end %>


<% else %>
<% redirect_to root_path %>

<%end%>

</div>