
<div class="signup">
<div class="container">
<a class="logo" href="/" title="capish">capish</a>
<h2 class="text-center">CUSTOMER LOGIN</h2>

<%= form_for(:session, url: '/blogin', :html => {:role => 'form', :autocomplete => 'off'}) do |f| %>  
   <span id="flash_messages"><%= flash_messages  %></span> 
           <div class="form-group form-groupemail">
           
              <%= f.email_field :email, :placeholder => "Email", class: "form-control formcapish", id: "email", placeholder: "Email", onfocus: "this.placeholder = ''",onblur: "this.placeholder='Email'" %> <br />
            </div>
             <div class="form-group form-grouppass">
              <%= f.password_field :password, id: "email", :placeholder => "Password", class: "form-control formcapish", onfocus: "this.placeholder = ''",onblur: "this.placeholder='Password'"   %> <br />
            </div>
           <div class="row row0 text-right">
              <%= f.submit "LOG IN", class: "btn btn-send" %><br /></div>
  <hr>
 <span class="formcapish">- OR - </span>
              <div class="row row0 text-left"><a href="/brandusers/auth/Linkedin" class="linkedin"></a></div>
              
          </div>
        <% end %>
 
</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </footer>
</div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script> 
<script>
$(function() {

    var valid = {};

    valid['session[email]'] = true;
    valid['session[password]'] = true;

    var $submitBtn = $('input[type=submit]');
    var mailRegex = /^\w+([\.\-\']?\w+)*@\w+([\.\-\']?\w+)*(\.\w{2,8})/;

    function check() {
        var isValid = true;
        for (var item in valid) {
            var $c = $('[name="' + item + '"]');
            valid[item] = !!($c.val().trim());
            if (valid[item] && item == 'session[email]') {
                valid[item] = mailRegex.test($c.val());
            }
            $c.parent()[valid[item] ? 'removeClass' : 'addClass']('error');
            if (!valid[item])
                isValid = false;
        }
        return isValid;
    }


    for (var item in valid) {
        (function(item) {
            var handler = function(e) {
                var isValid = !!($(this).val().trim());
                if (isValid && item == 'session[email]') {
                    isValid = mailRegex.test($(this).val());
                }
                $(this).parent()[isValid ? 'removeClass' : 'addClass']('error');
            };

            var $c = $('[name="' + item + '"]');
            $c.change(handler);
            $c.blur(handler);
        })(item);
    }

    $('input[type=submit]').click(function(e) {
        e.preventDefault();
        e.stopPropagation;

        if (!check()) {
            //todo
        } else {
            $('form').submit();
        }
    });

});

</script>
</div>
















 










