 <h2 class="text-center">SEARCH FOR INSTAGRAMMERS</h2>
        <div class="row row0 searchuser">
 

  <%= form_for :instauser, url: search_path  do |f| %>  


  <div class="form-group form-selectfull form-noborder">
    <%= f.select :theme, 
      options_for_select([['Animals','Animals'],['Arts','Arts'],['Auto','Auto'], ['Beauty','Beauty'], ['Design','Design'], ['Fashion','Fashion'],['Fitness','Fitness'],['Food','Food'],['Home','Home'],['Lifestyle','Lifestyle'],['Music','Music'], ['Nature','Nature'], ['Nautical','Nautical'],['Parenting','Parenting'], ['Sports','Sports'],['Travel','Travel'], ['Urban','Urban']],2), {} , :class=>"form-control" %> 

  </div>
  
  <!--
  <div class="form-group form-selectfull form-noborder">
    <%= f.select :location,
      options_for_select([['İstanbul','İstanbul'],['İzmir','İzmir'], ['Ankara','Ankara'], ['Samsun','Samsun'],['New York','New York'],['Amsterdam','Amsterdam'],['Berlin','Berlin'], ['DC','DC'],['London','London']] ,2),{}, :class=>"form-control" %>   
  </div>
   !--> 

  <div class="form-group form-selectfull form-noborder">
      <%= f.select :gender,
      options_for_select([['Male','Male'],['Female','Female']] ,2),{}, :class=> "form-control" %> 
  </div>
  
  <div class="clearfix">
<!--

    <div class="form-group form-groupname1 pull-left">

<%= f.number_field :age1 , :placeholder=>"18", :input_html => { :value => '18' }, type:"lastnam", onblur: "this.placeholder='Min Age'", onfocus: "this.placeholder = ''", :placeholder =>"Min Age" ,id: "usr", :class=> "form-control formcapish" %> 
 
    </div>
    
    <div class="form-group form-groupname2 pull-right">

 <%= f.number_field :age2 , :placeholder=>"24", :input_html => { :value => '65' } , type:"lastname", onblur: "this.placeholder='Max Age'",  onfocus: "this.placeholder = ''" , placeholder: "Max Age" , id: "usr" , class: "form-control formcapish"%>

 
    </div>
    !-->
  </div>
  <!--
  <div class="form-group form-groupscore">

     <%= f.number_field :engagementscore , :input_html => { :value => '18'}, type: "lastname", onblur: "this.placeholder='Engagement Sore'" , onfocus: "this.placeholder = ''" , placeholder: "Engagement Sore",  id: "usr", class: "form-control formcapish"%>
   
  </div>
  
  <div class="form-group form-groupprice">

    <%= f.number_field :postprice, :input_html => { :value => '100'}, type:"fullname", onblur:"this.placeholder='Max Price per post'", onfocus:"this.placeholder = ''" ,placeholder:"Max Price per post" , id:"usr" , :class=>"form-control formcapish" %> 

     
  </div>
  !-->
  <div class="form-group form-groupfollower">
      <%= f.number_field :followed_by, type:"fullname", onblur:"this.placeholder='Min. Followers'", onfocus:"this.placeholder = ''" ,placeholder:"Min. Followers", id:"usr", :class=> "form-control formcapish" %> 
     
  </div>
  <div class="row row0 text-right text-xs-center"><%= f.submit "SEARCH", class: "btn btn-send" , data: {disable_with: "Searching.."} %> </div>

    <%end%>
      </div>