

<div class="fullimg">
  <div class="container">
    <a class="logo" href="#" title="capish">capish</a>
    <h2>WELCOME!</h2>
    A simple way for Instagrammers to share their passions and get paid.<br />Sign up today to get on our waiting list.<br /><br />Launching soon!<br /><br />
    
    <div class="row welcomeinput text-center">
    <input type="firstname" class="form-control" id="usr" placeholder="Your Email *" onfocus="this.placeholder = ''" onblur="this.placeholder='Your Email *'" />
    <input type="firstname" class="form-control" id="usr" placeholder="Your Instagram Name *" onfocus="this.placeholder = ''" onblur="this.placeholder='Your Instagram Name *'" />
    </div>
    
    <div class="row text-center">
      <a href="#" class="btn btn-welcome btn-welcome2" role="button">GET EARLY ACCESS</a><br /><br />
      <div class="welcomelogin">or <a href="/login">Login</a></div>
    </div>
  </div>
  
</div>


<!--  <%= render 'layouts/header2' %>
 
<div class="jumbotron" id="form">
   
<% if !instauser_logged_in? and !branduser_logged_in? %> 

<p><div class="row" align="center">
<h1> Work with Instagrammers. <%= link_to "Invitation Only", '#', class: "btn btn-primary" , id: "btn-invitation" %></h1><hr>
    <h1>I am an Instagrammer.  <%= link_to "Signup", new_instauser_path, class: "btn btn-primary" %></h1>
  </div></p>
<%else%>
<div class="row" align="center">
 <h1>Collaboration is awesome</h1>
 <h4> capish is where brands and instagrammers meet to work together for a common cause.</h4>
</div>
<%end%>

  <font face="Andale Mono" id="jumbotrontext">(c) @nikkiminaj</font>

 </div>

 
<div class="jumbotron2">
  <div class="row" align="center">
    <%= image_tag "starbucks.png",  width: "80" %><span id="space"></span>
    <%= image_tag "armani.png",  width: "100" %><span id="space"></span>
    <%= image_tag "lufthansa.png",  width: "80" %><span id="space"></span>
    <%= image_tag "chase.png",  width: "100" %><span id="space"></span>
    <%= image_tag "clash.png",  width: "80" %><span id="space"></span>
    <%= image_tag "KFC.png",  width: "80" %><span id="space"></span>
    <%= image_tag "tollbrothers.png",  width: "100" %><span id="space"></span>
    <%= image_tag "Warner_Bros.png",  width: "80" %><span id="space"></span>
    <%= image_tag "tmobile.png",  width: "100" %> 
    <%= image_tag "pixel.png" %>
  </div>

</div>
 
  <div style="height: 30px;"></div>
 </div>

<div class="row">
  
  <div class="row" align="center">
  <h2>DELIVER ORIGINAL CONTENT.</h2>
  </div>

  <div class="container">
  
 
  
  <div style="height: 30px;"></div>
  

 

  <div class="row">
  <div class="col-md-4">
    <div align="center"><%= image_tag "connect.png", width: "75" %><br><strong>CONNECT</strong> </div>
  <br><div id="hometext">Connect with influential content creators and influencers based on your target market.</div><br> 

   
  
  <div style="height: 30px;"></div>
  
  </div>
   

  <div class="col-md-4">
  <div align="center">  <%= image_tag "easytouse.png", width: "90" %><br><strong>EASY TO USE</strong> </div>
  <br><div id="hometext">Use our streamlined platform to create campaigns quickly and efficiently.</div><br>

   
  
  <div style="height: 30px;"></div>
  </div>

 
  <div class="col-md-4">
  <div align="center">  <%= image_tag "engage.png", width: "90" %><br> <strong>DRIVE ACTION</strong> </div>
  <br><div id="hometext">Engage your customers with authentic content to increase your conversion rates.</div><br>
  
   
  
  <div style="height: 30px;"></div>
  
</div>

 
</div>

<hr>
<hr>
 
     


 </div>  

 <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">Contact Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>
 !-->