<%= form_for(@instauser, :html => {:role => 'form'}) do |f| %>  
 
 
 <%= render 'shared/instauser_error_messages' %>  
 
   <input type="hidden" name="edit" value="<%= params[:edit] %>">
   <div class="form-group form-groupemail">
   <%= f.email_field :email, :type=> "email", :class=> "form-control formcapish", :id => "email", :placeholder => "", :onfocus => "this.placeholder =''", :onblur => "this.placeholder='Email *'" %> <br>
  </div>

  


 <label class="gender"><span class="moneyicon pull-left"><i class="fa fa-paypal"></i>PayPal email</span><a href="http://www.paypal.com.tr" class="lblright pull-left">Don't have a PayPal account?</a></label>
      <div class="form-group form-grouppaypal">
        <%= f.text_field :paypal_email, class: "form-control formcapish", id: "paypal_email", placeholder: " Enter your PayPal account email.", onfocus: "this.placeholder = ''", onblur: "this.placeholder=' Enter your PayPal account email.'" %>      
      </div>





      
<div class="enotif"><label class="checkbx">Email Notification 

        <%= f.check_box :send_email, {:class => "myclass", :style => "mystyle"}, "checked-value", "unchecked-value" %></label></div>
      


  
    <div class="row row0 text-right"><button type="submit" class="btn btn-send">SAVE</button></div>
    <div class="row row0 text-right terms">By clicking save, you agree to our <a href="/pages/terms">terms of use</a></div>
    <div class="row row0 top-buffer70 text-left"><button type="button" class="btn btn-default btn-delete" data-toggle="modal" data-target="#myModal">DELETE ACCOUNT</button></div>
<% end %>

 

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Hey!</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your Capish account?</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-modalyes" data-dismiss="modal">
              <%= form_for(@instauser, :url=> destroy_path ,:html=> {:method => 'delete'}) do %>
              Yes
              <%end%></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
  <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>
 
 <script>$(function() {

    var valid = {
        email: true,
    };

    var $submitBtn = $('button[type=submit]');

    var mailRegex = /^\w+([\.\-\']?\w+)*@\w+([\.\-\']?\w+)*(\.\w{2,8})/;
    var numericRegex = /^[0-9]+(\.[0-9]{1,2})?$/;

    function check() {
        var isValid = true;
        for (var item in valid) {
            var $c = $('#' + item);
            valid[item] = !!($c.val().trim());
            if (valid[item] && item == 'email') {
                valid[item] = mailRegex.test($c.val());
            }
            $c.parent()[valid[item] ? 'removeClass' : 'addClass']('error');
            if (!valid[item])
                isValid = false;
        }
        return isValid;
    }


    for (var item in valid) {
        (function(item) {
            var handler = function(e) {
                var isValid = !!($(this).val().trim());
                if (isValid && item == 'email') {
                    isValid = mailRegex.test($(this).val());
                }
                $(this).parent()[isValid ? 'removeClass' : 'addClass']('error');
            };

            var $c = $('#' + item);
            $c.change(handler);
            $c.blur(handler);
        })(item);
    }

    $('button[type=submit]').click(function(e) {
        e.preventDefault();
        e.stopPropagation;

        if (!check()) {
            //todo
        } else {
            $('form').submit();
        }
    });

}); </script>



<script type="text/javascript">
window.onload = function() {

  var btn = document.querySelector( '.btnmodal' );

  var btnFront = btn.querySelector( '.btnmodal-front' ),
    btnYes = btn.querySelector( '.btnmodal-back .yes' ),
    btnNo = btn.querySelector( '.btnmodal-back .no' );

  btnFront.addEventListener( 'click', function( event ) {
    var mx = event.clientX - btn.offsetLeft,
      my = event.clientY - btn.offsetTop;

    var w = btn.offsetWidth,
      h = btn.offsetHeight;

    var directions = [
      { id: 'top', x: w/2, y: 0 },
      { id: 'right', x: w, y: h/2 },
      { id: 'bottom', x: w/2, y: h },
      { id: 'left', x: 0, y: h/2 }
    ];

    directions.sort( function( a, b ) {
      return distance( mx, my, a.x, a.y ) - distance( mx, my, b.x, b.y );
    } );

    btn.setAttribute( 'data-direction', directions.shift().id );
    btn.classList.add( 'is-open' );
  } );

  btnYes.addEventListener( 'click', function( event ) {
    btn.classList.remove( 'is-open' );
  } );

  btnNo.addEventListener( 'click', function( event ) {
    btn.classList.remove( 'is-open' );
  } );

  function distance( x1, y1, x2, y2 ) {
    var dx = x1-x2;
    var dy = y1-y2;
    return Math.sqrt( dx*dx + dy*dy );
  }

};
</script>
 