

<%= form_for @instauser, :html => {:role => 'form'}   do |f| %>  
 
 <%= render 'shared/instauser_error_messages' %>  
 
 
   <div class="form-group form-groupname1 pull-left">
   <%= f.text_field :firstname,  :type=> "firstname", :class=> "form-control formcapish", :id => "usr", :placeholder => "First Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='First Name'" %> <br>
  </div>
  <div class="form-group form-groupname2 pull-right">
   <%= f.text_field :lastname, :type=> "lastname", :class=> "form-control formcapish", :id => "usr", :placeholder => "Last Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Last Name'" %> <br>
  </div>
   <div class="form-group form-grouploc">
   
   <%= f.text_field :location, :type=> "fullname", :class=> "gmapsinput form-control formcapish" , :id => "usr", :placeholder => "Start typing a city", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Start typing a city'" %> 
    <div id="gmaps-error" style="display: none;"></div>
              <div id="gmaps-canvas" style="display: none;"></div>
  </div>
  <div class="form-groupcake">
  <%= f.date_select :dob, {order: [:day, :month, :year], :selected => @instauser.dob , :start_year => Date.today.year - 80, :end_year => Date.today.year - 18 }, {:class=> "date-select"} %><br>
  </div>
 <br>
  <div class="form-group form-selectfull form-noborder">
  <label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender</label>  <%= f.select :gender, options_for_select([['Male','Male'],['Female', 'Female']],@instauser.gender),{}, {:class=> "form-control"} %>
  </div>

   <div class="form-group form-selectfull form-noborder"><label for="name" class="gender"><i class="fa fa-fire"></i>What passion best describes your Instagram feed?</label>
    <%= f.select :theme, 
              options_for_select([['Animals','Animals'],['Arts','Arts'],['Auto','Auto'], ['Beauty','Beauty'], ['Design','Design'], ['Fashion','Fashion'],['Fitness','Fitness'],['Food','Food'],['Home','Home'],['Lifestyle','Lifestyle'],['Music','Music'], ['Nature','Nature'], ['Nautical','Nautical'],['Parenting','Parenting'], ['Sports','Sports'],['Travel','Travel'], ['Urban','Urban']],@instauser.theme),{}, {class: 'form-control'} %>
            </div>

            <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender"><i class="fa fa-file-text"></i>Bio <span class="bioright pull-right" id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span></label>

    <%= f.text_area :bio, maxlength: @maximum_length, :id => "review_text", :placeholder=>"Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less. ", :onfocus=>"this.placeholder = ''", :onblur=>"this.placeholder='Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less.'" %>

 

  </div>

   <label for="name" class="gender clearfix"><span class="moneyicon pull-left"><i class="fa fa-money"></i>Price Per Post</span><span class="lblright pull-left"></span></label>
      <div class="form-group form-groupmoney">
        <%= f.text_field :postprice, class: "form-control formcapish", id: "postprice", placeholder: "", onfocus: "this.placeholder = ''", onblur: "this.placeholder=''" %>
      </div>

    <div class="row row0 text-right">

  <%= button_tag(type: 'submit', class: "btn btn-send") do %>
    Save
  <% end %>


   </div>
    <div class="row row0 text-right terms">By clicking save, you agree to our <a href="/pages/terms">terms of use</a></div>

<% end %>
 

<script>
    $(document).ready(function() {
      var review_text = $("#review_text");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      review_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>