



<%= form_for(@instauser, :html => {:role => 'form'}) do |f| %>  
 <%= render 'shared/instauser_error_messages'  %>   
 
   <input type="hidden" name="edit" value="<%= params[:edit] %>">
   <div class="form-group form-groupname1 pull-left">
   <%= f.text_field :firstname, :type=> "firstname", :class=> "form-control formcapish", :id => "usr", :placeholder => "First Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='First Name'" %> <br>
  </div>
  <div class="form-group form-groupname2 pull-right">
   <%= f.text_field :lastname, :type=> "lastname", :class=> "form-control formcapish", :id => "usr", :placeholder => "Last Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Last Name'" %> <br>
  </div>
   <div class="form-group form-grouploc">
   
   <%= f.text_field :location, :type=> "fullname", :class=> "gmapsinput form-control formcapish" , :id => "usr", :placeholder => "Start typing a city", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Start typing a city'" %> 
    <div id="gmaps-error" style="display: none;"></div>
              <div id="gmaps-canvas" style="display: none;"></div>
  </div>
  <div class="form-group form-groupcake">
   <%= f.text_field :date_of_birth, :type=> "fullname", :class=> "form-control formcapish date_of_birth", :placeholder => @instauser.date_of_birth, :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='DOB'" %> <br>
  </div>
 

  <div class="form-group form-selectfull form-noborder">
  <label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender</label>  <%= f.select :gender, options_for_select([['Male','Male'],['Female', 'Female']],@instauser.gender),{}, {:class=> "form-control"} %>
  </div>

   <div class="form-group form-selectfull form-noborder"><label for="name" class="gender"><i class="fa fa-fire"></i>What passion best describes your Instagram feed?</label>
    <%= f.select :theme, 
              options_for_select([['General','General'],['Food','Food'],['Travel','Travel'], ['Art','Art'], ['Beauty','Beauty'], ['Fashion','Fashion'],['Dance','Dance'],['Motorcycle','Motorcycle'],['Music','Music'],['Nature','Nature'],['Sport','Sport'], ['Urban Life','Urban Life'],['Fitness','Fitness'], ['Design','Design']],@instauser.theme),{}, {class: 'form-control'} %>
            </div>

            <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender"><i class="fa fa-file-text"></i>Bio <span class="bioright pull-right" id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span></label>

    <%= f.text_area :bio, maxlength: @maximum_length, :id => "review_text", :placeholder=>"Your bio is a great way for brands to get to know you better. To edit your bio, please go to Settings → Edit Profile. ", :onfocus=>"this.placeholder = ''", :onblur=>"this.placeholder='Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less.'" %>

 

  </div>

  <label for="name" class="gender"><span class="moneyicon pull-left"></span><i class ="fa fa-money"></i>Price Per Post (min)</label>
    <div class="form-group">

      <%= f.number_field :postprice, class: "form-control formcapish", :id=>"usr", :placeholder=> "$" , :onfocus=>"this.placeholder = '$'", :onblur=>"this.placeholder='$'" %>

    </div>

    <div class="row row0 text-right">

  <%= button_tag(type: 'submit', class: "btn btn-send") do %>
    Save
  <% end %>


   </div>
    <div class="row row0 text-right terms">By clicking save, you agree to our <a href="#">terms of use</a></div>
<% end %>



<script>
    $(document).ready(function() {
      var review_text = $("#review_text");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      review_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>