

<%= form_for @instauser, :html => {:role => 'form', :autocomplete => 'off'}   do |f| %>  
 
 <%= render 'shared/instauser_error_messages' %>  
 
 
   <div class="form-group form-groupname1 pull-left">
   <%= f.text_field :firstname,  :type=> "firstname", :class=> "form-control formcapish", :id => "usr", :placeholder => "First name *", :onfocus => "this.placeholder = 'First name *'", :onblur => "this.placeholder='First name *'" %> <br>
  </div>
  <div class="form-group form-groupname2 pull-right">
   <%= f.text_field :lastname, :type=> "lastname", :class=> "form-control formcapish", :id => "usr", :placeholder => "Last name *", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Last name *'" %> <br>
  </div>
   <div class="form-group form-grouploc">
   
   <%= f.text_field :location, :type=> "fullname", :class=> "gmapsinput form-control formcapish" , :id => "usr", :placeholder => "Start typing a city", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Start typing a city *'" %> 
    <div id="gmaps-error" style="display: none;"></div>
              <div id="gmaps-canvas" style="display: none;"></div>
  </div>
 

  <div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender"><i class="fa fa-birthday-cake"></i>Date of birth *</label>
  <%= f.date_select :dob, {order: [:day, :month, :year], :selected => @instauser.dob , start_year: Date.today.year - 18, end_year: Date.today.year - 100}, :type=> "fullname"%>
  </div> 

  <div class="form-group form-selectfull form-noborder">
  <label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender *</label>  <%= f.select :gender, options_for_select([['Male','Male'],['Female', 'Female']],@instauser.gender),{}, {:class=> "form-control"} %>
  </div>

   <div class="form-group form-selectfull form-noborder"><label for="name" class="gender"><i class="fa fa-fire"></i>What passion best describes your Instagram feed? *</label>
    <%= f.select :theme, 
              options_for_select([['Animals','Animals'],['Arts','Arts'],['Auto','Auto'], ['Beauty','Beauty'], ['Design','Design'], ['Fashion','Fashion'],['Fitness','Fitness'],['Food','Food'],['Home','Home'],['Lifestyle','Lifestyle'],['Music','Music'], ['Nature','Nature'], ['Nautical','Nautical'],['Parenting','Parenting'], ['Sports','Sports'],['Travel','Travel'], ['Urban','Urban']],@instauser.theme),{}, {class: 'form-control'} %>
            </div>

            <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender"><i class="fa fa-file-text"></i>Bio<span class="bioright pull-right" id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span></label>

    <%= f.text_area :bio, maxlength: @maximum_length, :id => "review_text", :placeholder=>"Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less. ", :onfocus=>"this.placeholder = ''", :onblur=>"this.placeholder='Filling in your bio is a good way for brands to get to know you better. Please limit your bio to 300 characters or less.'" %>

 

  </div>

   <label for="name" class="gender clearfix"><span class="moneyicon pull-left">Price per post *</span><span class="lblright pull-left"></span></label>
      <div class="form-group form-groupmoney">
        <%= f.text_field :postprice, class: "form-control formcapish", id: "postprice", placeholder: "", onfocus: "this.placeholder = ''", onblur: "this.placeholder=''" %>
      </div>

    <div class="row row0 text-right">

  <%= button_tag(type: 'submit', class: "btn btn-send") do %>
    SAVE
  <% end %>


   </div>
    <div class="row row0 text-right terms">By clicking save, you agree to our <a href="/pages/terms" target="_blank">terms of use</a></div>

<% end %>

</div>
</div>
 <div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>


<script>
    $(document).ready(function() {
      var review_text = $("#review_text");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      review_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>

<script>$(function() {

    var valid = {};

    valid['instauser[firstname]'] = true;
    valid['instauser[lastname]'] = true;
    valid['instauser[location]'] = true;
    valid['instauser[dob(2i)]'] = true;
    valid['instauser[dob(3i)]'] = true;
    valid['instauser[dob(1i)]'] = true;
    valid['instauser[postprice]'] = true;

    var $submitBtn = $('button[type=submit]');
    var numericRegex = /^[0-9]+(\.[0-9]{1,2})?$/;

    function check() {
        var isValid = true;
        for (var item in valid) {
            var $c = $('[name="' + item + '"]');
            valid[item] = !!($c.val().trim());
            if (valid[item] && item == 'instauser[postprice]') {
                valid[item] = numericRegex.test($c.val());
            }
            var isDdl = $c[0].tagName == 'SELECT';
            if (isDdl)
                $c[valid[item] ? 'removeClass' : 'addClass']('error');
            else
                $c.parent()[valid[item] ? 'removeClass' : 'addClass']('error');
            if (!valid[item])
                isValid = false;
        }
        return isValid;
    }


    for (var item in valid) {
        (function(item) {
            var handler = function(e) {
                var isValid = !!($(this).val().trim());
                if (isValid && item == 'instauser[postprice]') {
                    isValid = numericRegex.test($(this).val());
                }
                var isDdl = $(this)[0].tagName == 'SELECT';
                if (isDdl)
                    $(this)[isValid ? 'removeClass' : 'addClass']('error');
                else
                    $(this).parent()[isValid ? 'removeClass' : 'addClass']('error');
            };

            var $c = $('[name="' + item + '"]');
            $c.change(handler);
            $c.blur(handler);
        })(item);
    }

    $('button[type=submit]').click(function(e) {
        e.preventDefault();
        e.stopPropagation;

        if (!check()) {
            //todo
        } else {
            $('form').submit();
        }
    });

});
</script>


