 <%= render 'layouts/header2' %> 
<div class="txtpage">
<div class="container">
<h2 class="text-center">BRANDS</h2> 
Pitch brands directly with a campaign idea.

<div class="row row0 text-center brandbox">
<div class="row masonry-container">
<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("vodafone.png") %>" /><em>Vodafone is one of the world’s leading telecommunications groups with a significant presence in Europe and other countries.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>


<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("hepsiburada.png") %>" /><em>Hepsiburada.com has been established as an e-commerce site aim at satisfying internet users’ needs, since 1998</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>


<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("vogue.png") %>" /><em>Your favorite fashion, beautiy and lifestyle brands. Events, behind-the-scenes buzz and exclusive offers.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("nautica.png") %>" /><em>Founded in 1983, Nautica has evolved from a collection of men’s outwear to a leading global lifestyle brand.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("loreal.png") %>" /><em>The L'Oréal Group is a French cosmetics and beauty company, headquartered in Clichy. It is the world's largest cosmetics company</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("becks.png") %>" /><em>Premium quality, light golden colour, hoppy flavour. Brewed using only natural
ingredients.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("starbucks.png") %>" /><em>To say Starbucks purchases and roasts high quality whole bean cofees is very true. We do that.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

<div class="col-lg-4 col-md-4 col-sm-4 text-center thumb"><img class="img-responsive" src="<%= image_url("thy.png") %>" /><em>Turkish Airlines is the national flag carrier airline of Turkey. We strive to make you happy everywhere.</em><a href="/contact-brands" target="_blank"><button type="submit" class="btn btn-send">PITCH AN IDEA</button></a></div>

 

</div>
</div>

</div>
</div>


<!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About Us</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
</div>




