
  <% a=0 %>
 <% counter=0 %>
 <% b=0 %>
 <div class="container">
 	<div class="row">

 <div class="col-md-8">
		<% for x in @client.user_recent_media %>
  		<div style='float:left;'>
  		<%= image_tag(x.images.thumbnail.url) %><br/> 
  		<span class="glyphicon glyphicon-heart-empty"></span> <%= x.likes[:count] %><br> 
  	 	<% a=a+x.likes[:count] %>
 	 	 <% counter=counter+1 %>
  		</div>
 
		<%end%>

		<% for t in @client.user_recent_media %>
  		<div style='float:left;'>
     
   		<% b=b+t.comments[:count] %>

  		</div>
 		<%end%>
</div>


<div class="col-md-3">
 <% profile=@client.user.profile_picture %>
	 <ul class="list-group">
	 	<li class="list-group-item">
<p><span class="username" id="any"> <%= @client.user.full_name %></span>
<span class="pull-right" id="any"> <%= image_tag(src=profile, :width=>"40", :height=>"40", :class=>"no-wrap")%></span></p>
</li>
  
 <li class="list-group-item">
    <span class="badge"><%= @client.user.counts.followed_by %></span>
Followers  </li>

<li class="list-group-item">
    <span class="badge"><%= a/counter %></span>
Likes on avg. </li>

<li class="list-group-item">
    <span class="badge"><%= b/counter %></span>
Comments on avg. </li>

<li class="list-group-item">
    <span class="badge"><%= @instauser.location %></span>
Location  </li><li class="list-group-item">
    <span class="badge"><%= @instauser.age %></span>
Age  </li><li class="list-group-item">
    <span class="badge badge-success">$<%= @instauser.postprice %></span>
Price </li>



</ul>
	
	 	
	  
  
 
</div>
 </div>
</div>