 <%= render 'layouts/header2' %> 
  <div class="container">
 	  <div class="row">

     <div class="col-md-8">
        <%if @instauser.followed_by < 5000 %>
          Unfortunately your application has been declined. 
        <% elsif @instauser.followed_by>5000 %>
          <font color="red">Congratulations! Welcome to capish! </font>
        <%end%>

        <div class="row">
          <h3><font face="Lobster">Most Recent Posts</font></h3>
      	  <% @instauser_recent_posts.each do |x| %>
      		  <div style='float:left;'>
      		    <%= link_to image_tag(x.media_thumb_url, width: "80"), x.media_standard_url, target: "_blank" %>    
        		    <span class="glyphicon glyphicon-heart-empty"></span>          
      		  </div>  
          <%end%>
        </div>

      	<div class="row">
          <h3><font face="Lobster">Most Liked Posts</font></h3>
          <% @instauser_recent_posts.each do |x| %>
            <div style='float:left;'>
              <%= link_to image_tag(x.media_thumb_url, width: "80"), x.media_standard_url, target: "_blank" %>    
                <span class="glyphicon glyphicon-heart-empty"></span>          
            </div>  
          <%end%>
        </div>
    </div>


    <div class="col-md-3"> 
     <br>
      
     
    	 <ul class="list-group">
    	 	<li class="list-group-item">
          <p><span class="username" id="any"><%= @instauser.username %></span>
          <span class="pull-right" id="any"> <%= image_tag(@instauser.profile_picture, :width=>"40", :height=>"40", :class=>"no-wrap")%></span></p>
        </li>
        <li class="list-group-item">
          <span class="badge badge-info"> <%= @instauser.engagementscore %> </span>  E.Score:  
         </li>
          
         <li class="list-group-item">
            <span class="badge"><%= @instauser.followed_by %></span>
        Followers  </li>

        <li class="list-group-item">
            <span class="badge"><%= @instauser.averagelikes %> </span>
        Likes on avg. </li>

        <li class="list-group-item">
            <span class="badge"><%= @instauser.averagecomments %></span>
        Comments on avg. </li>

        <li class="list-group-item">
            <span class="badge"><%= @instauser.location %></span>
        Location  </li><li class="list-group-item">
            <span class="badge"><%= Time.now.year-@instauser.date_of_birth.year unless @instauser.date_of_birth.nil?  %></span>
        Age  </li><li class="list-group-item">
            <span class="badge badge-success">$<%= @instauser.postprice %></span>
        Post Price </li>
    </ul>     
  </div>
 </div>
</div>