
<%= render 'layouts/header2' %>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-5" id="form">
      <br>

      <%= form_for(@instauser) do |f| %>  
        <div class="input-group-lg"> 
          <div class="form-group">

            <%= f.label :fullname %><br> 
            <%= f.text_field :fullname, class: "form-control" %> <br>

            <%= f.label :password %><br> 
            <%= f.password_field :password, class: "form-control" %> <br>

            <%= f.label :country %><br>
            <%= country_select("instauser", "country", { priority_countries: ["TR", "GB", "US"], include_blank: true }, { class: 'form-control' }) %><br>

            <%= f.label :city %><br>
            <%= f.select :city, options_for_select(@cities, @instauser.city),{}, { :class => 'form-control' } %><br>

            <%= f.label :date_of_birth %><br> 
            <%= f.date_field :date_of_birth, class: "form-control" %> <br>

            <%= f.select :theme, 
            options_for_select([['General','General'],['Food','Food'],['Travel','Travel'], ['Art','Art'], ['Beauty','Beauty'], ['Fashion','Fashion'],['Dance','Dance'],['Motorcycle','Motorcycle'],['Music','Music'],['Nature','Nature'],['Sport','Sport'], ['Urban Life','Urban Life'],['Fitness','Fitness'], ['Design','Design']], 2), {}, { :class => 'form-control' } %> <br>
            <%= f.label :fiyat  %> <br>
            <%= f.number_field :postprice, class: "form-control", :placeholder=> "$" %> <br>
          </div> <br>
          <div class="actions"> 
            <%= f.submit "Save", data: {disable_with: "Saving..."} %><br> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
