
 <%= render 'layouts/header2' %>
 <br>
<div class="container">
<div class="col-md-5" id="form">
 
<%= form_for(@instauser) do |f| %>  
  <div class="input-group"> 
  	<div class="form-group">

    <%= f.label :fullname %><br> 
    <%= f.text_field :fullname, class: "form-control" %> <br>
 
    <%= f.label :password %><br> 
    <%= f.password_field :password, class: "form-control" %> <br>

    <%= f.label :age %><br> 
    <%= f.number_field :age, class: "form-control" %> <br>

    <%= f.select :location, 
    options_for_select([['Male','Male'],['Female','Female']] ,2),{}, { :class => 'form-control' } %><br>
      
    <%= f.label :location %><br> 
    <%= f.select :location, 
    options_for_select([['İstanbul','İstanbul'],['İzmir','İzmir'], ['Ankara','Ankara'], ['Samsun','Samsun'],['New York','New York'],['Amsterdam','Amsterdam'],['Berlin','Berlin'], ['DC','DC'],['London','London']] ,2),{}, { :class => 'form-control' } %><br>
      
     <%= f.select :theme, 
    options_for_select([['General','General'],['Food','Food'],['Travel','Travel'], ['Art','Art'], ['Beauty','Beauty'], ['Fashion','Fashion'],['Dance','Dance'],['Motorcycle','Motorcycle'],['Music','Music'],['Nature','Nature'],['Sport','Sport'], ['Urban Life','Urban Life'],['Fitness','Fitness'], ['Design','Design']], 2), {}, { :class => 'form-control' } %> <br>
     <%= f.label :fiyat  %> <br>
     <%= f.number_field :postprice, class: "form-control", :placeholder=> "$" %> <br>
   
  </div> <br>
  <div class="actions"> 
    <%= f.submit "Save", data: {disable_with: "Saving..."} %> 
   </div>
<% end %>
 
</div>
</div>
</div>