<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/gmaps.js"></script>

<%= render 'layouts/header2' %>
<br>




<div class="signup signup2">
<div class="container">

<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#">EDIT PROFILE</a></li>
  <li><a href="#">EDIT ACCOUNT</a></li>
</ul>


<%= form_for(@instauser, :html => {:role => 'form'}) do |f| %>  

 <div class="form-group form-groupname1 pull-left">
 <%= f.text_field :firstname, :type=> "firstname", :class=> "form-control formcapish", :id => "usr", :placeholder => "First Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='First Name'" %> <br>
</div>
<div class="form-group form-groupname2 pull-right">
 <%= f.text_field :lastname, :type=> "lastname", :class=> "form-control formcapish", :id => "usr", :placeholder => "Last Name", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Last Name'" %> <br>
</div>
 <div class="form-group form-grouploc">
 
 <%= f.text_field :location, :type=> "fullname", :class=> "gmapsinput form-control" , :id => "usr", :placeholder => "Start typing a city", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='Start typing a city'" %> 
  <div id="gmaps-error" style="display: none;"></div>
            <div id="gmaps-canvas" style="display: none;"></div>
</div>
<div class="form-group form-groupcake">
 <%= f.text_field :date_of_birth, :type=> "fullname", :class=> "form-control formcapish date_of_birth", :id => "usr", :placeholder => "DOB", :onfocus => "this.placeholder = ''", :onblur => "this.placeholder='DOB'" %> <br>
</div>


<div class="form-group form-selectfull form-noborder">
<label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender</label>  <%= f.select :gender, options_for_select([['Male','Male'],['Female', 'Female']],@instauser.gender),{}, {:class=> "selectpicker"} %>
</div>

 <div class="form-group form-selectfull form-noborder"><label for="name" class="gender"><i class="fa fa-hand-rock-o"></i>What passion best describes your Instagram feed?</label>
  <%= f.select :theme, 
            options_for_select([['General','General'],['Food','Food'],['Travel','Travel'], ['Art','Art'], ['Beauty','Beauty'], ['Fashion','Fashion'],['Dance','Dance'],['Motorcycle','Motorcycle'],['Music','Music'],['Nature','Nature'],['Sport','Sport'], ['Urban Life','Urban Life'],['Fitness','Fitness'], ['Design','Design']],@instauser.theme),{}, {class: 'selectpicker'} %>
          </div>

<label class="lblpaypal">This is what brands will see on your profile.</label>
  <div class="form-group form-groupmoney">
    <%= f.number_field :postprice, class: "form-control formcapish", :id=>"usr", :placeholder=> "$" , :onfocus=>"this.placeholder = '$'", :onblur=>"this.placeholder='$'" %>

  </div>

  <div class="row row0 text-right">

<%= button_tag(type: 'submit', class: "btn btn-send") do %>
  Save
<% end %>


 </div>
  <div class="row row0 text-right terms">By clicking save, you agree to our <a href="#">terms of use</a></div>

<% end %>

</div>
</div>
 
 <!-- 
<div class="container">
  <div class="row">
    <div class="col-xs-5" id="form">
      <br>

     <%= form_for(@instauser) do |f| %>  
        <div class="input-group-lg"> 
          <div class="form-group">

            <%= f.label :firstname %><br> 
            <%= f.text_field :firstname, class: "form-control" %> <br>
            <%= f.label :lastname %><br> 
            <%= f.text_field :lastname, class: "form-control" %> <br>

       

            <%= f.label :location %><br> 
            <%= f.text_field :location, id: "gmaps-input-address", placeholder: "Start typing a place name...", class: "form-control" %> <br><br>
            <div id="gmaps-error" style="display: none;"></div>
            <div id="gmaps-canvas" style="display: none;"></div>

            <%= f.label :date_of_birth %><br> 
            <%= f.text_field :date_of_birth, class: "form-control" %> <br>
            <%= f.label :theme %><br> 
            <%= f.select :theme, 
            options_for_select([['General','General'],['Food','Food'],['Travel','Travel'], ['Art','Art'], ['Beauty','Beauty'], ['Fashion','Fashion'],['Dance','Dance'],['Motorcycle','Motorcycle'],['Music','Music'],['Nature','Nature'],['Sport','Sport'], ['Urban Life','Urban Life'],['Fitness','Fitness'], ['Design','Design']], 2), {}, { :class => 'form-control' } %> <br>
            <%= f.label :postperprice %> <br>
            <%= f.number_field :postprice, class: "form-control", :placeholder=> "$" %> <br>
          </div> <br>
          <div class="actions"> 
            <%= f.submit "Save", data: {disable_with: "Saving..."} %><br> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> !-->
