
 <%= render 'layouts/header2' %> 


 <div class="txtpage">
<div class="container">

  <%= render :partial => '/shared/search_box' %> 
<div>
  <% if @instausers.first.nil? %>

<img src="<%= image_url('monkey.png') %>", width="200"> 
<%= link_to "No users found, search again", bdashboard_path(:id => current_branduser) %></font>

 <%end%>

</div>



<%= render :partial => "infocard" %>


</div>
</div>