
<script language="javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
<script type="text/javascript" src="/js/gmaps.js"></script>
 
<div class="signup">
  <div class="container">

    <span class="logo" title="capish">capish</span>
    <h2 class="text-center">ALMOST THERE!</h2>

    

     <%= form_for(Instauser.new) do |f| %>
      <%= render 'shared/instauser_signup_error_messages' %> 

      <div class="form-group form-groupemail">
        <%= f.text_field :email, class: "form-control formcapish", id: "email", placeholder: "Email *", onfocus: "this.placeholder = ''", onblur: "this.placeholder='Email *'" %>
      </div>

      <div class="form-group form-groupname1 pull-left">
        <%= f.text_field :firstname, class: "form-control formcapish", id: "firstname", placeholder: "First Name *", onfocus: "this.placeholder = ''", onblur: "this.placeholder='First Name *'" %>
      </div>

      <div class="form-group form-groupname2 pull-right">
        <%= f.text_field :lastname, class: "form-control formcapish", id: "lastname", placeholder: "Last Name *", onfocus: "this.placeholder = ''", onblur: "this.placeholder='Last Name *'" %>
      </div>
      
      <div class="form-group form-grouploc">
        <%= f.text_field :location, class: "gmapsinput form-control formcapish", placeholder: "Start typing a city *", onfocus: "this.placeholder = ''", onblur: "this.placeholder='Start typing a city *'" %>
        <div id="gmaps-error" style="display: none;"></div>
        <div id="gmaps-canvas" style="display: none;"></div>        
      </div>

 

<div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender"><i class="fa fa-birthday-cake"></i>Date of birth *</label>
  <%= f.date_select :dob, {order: [:day, :month, :year], :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' },  start_year: Date.today.year - 18, end_year: Date.today.year - 100}, :type=> "fullname", :class=> "date-select" %>
  </div> 



      <div class="form-group form-selectfull form-noborder">
        <label for="name" class="gender"><i class="fa fa-venus-mars"></i>Gender *</label>
        <%= f.select :gender, options_for_select([['Female','Female'],['Male','Male']] ,2), {}, { :class => 'form-control' } %>        
      </div>

      <div class="form-group form-selectfull form-noborder">
        <label for="name" class="gender"><i class="fa fa-fire"></i>What passion best describes your Instagram feed? *</label>
        <%= f.select :theme, options_for_select([['Animals','Animals'],['Arts','Arts'],['Auto','Auto'], ['Beauty','Beauty'], ['Design','Design'], ['Fashion','Fashion'],['Fitness','Fitness'],['Food','Food'],['Home','Home'],['Lifestyle','Lifestyle'],['Music','Music'], ['Nature','Nature'], ['Nautical','Nautical'],['Parenting','Parenting'], ['Sports','Sports'],['Travel','Travel'], ['Urban','Urban']], 2),{:include_blank => 'Select'}, { :class => 'form-control' } %>
      </div>
      
 
      <label for="name" class="gender clearfix"><span class="moneyicon pull-left"><i class="fa fa-money"></i>Price per post *</span><span class="lblright pull-left">This is the price per post brands will see on your profile. You can change this at any time.
</span></label>
      <div class="form-group form-groupmoney">
        <%= f.text_field :postprice, class: "form-control formcapish", id: "postprice", placeholder: "", onfocus: "this.placeholder = ''", onblur: "this.placeholder=''" %>
      </div>
      
      <label class="gender clearfix"><span class="moneyicon pull-left"><i class="fa fa-paypal"></i>PayPal email</span><a href="http://www.paypal.com" class="lblright pull-left" target="_blank">Don't have a PayPal account?</a></label>
      <div class="form-group form-grouppaypal">
        <%= f.text_field :paypal_email, class: "form-control formcapish", id: "paypal_email", placeholder: "", onfocus: "this.placeholder = ''", onblur: "this.placeholder=''" %>      
      </div>

      <div class="row row0 text-right">
        <%= f.hidden_field :id, :value => session[:instauser_id] %>
        <%= f.hidden_field :disabled, :value => false %>
        <%= f.submit "JOIN", data: {disable_with: "Uploading Now (Be Patient)..."}, class: "btn btn-send" %> 
      </div>
      <div class="row row0 text-right terms">By clicking join, you agree to our <a href="/pages/terms" target="_blank">terms of use</a></div>


    <% end %>
  </div>
</div>


<script>$(function() {

    var valid = {
        email: true,
        firstname: true,
        lastname: true,
        instauser_location: true,
        instauser_dob_3i: true,
        instauser_dob_2i: true,
        instauser_dob_1i: true,
        instauser_theme: true,
        postprice: true
      
    };

    var $submitBtn = $('input[type=submit]');
    

    var mailRegex = /^\w+([\.\-\']?\w+)*@\w+([\.\-\']?\w+)*(\.\w{2,8})/;
    var numericRegex = /^[0-9]+(\.[0-9]{1,2})?$/;

    function check() {
        var isValid = true;
        for (var item in valid) {
            var $c = $('#' + item);
            valid[item] = !!($c.val().trim());
            if (valid[item] && item == 'email') {
                valid[item] = mailRegex.test($c.val());
            }
            if (valid[item] && item == 'postprice') {
                valid[item] = numericRegex.test($c.val());
            }

            var isDdl = $c[0].tagName == 'SELECT';
            if (isDdl)
                $c[valid[item] ? 'removeClass' : 'addClass']('error');
            else
                $c.parent()[valid[item] ? 'removeClass' : 'addClass']('error');
            if (!valid[item])
                isValid = false;
        }
        return isValid;
    }


    for (var item in valid) {
        (function(item) {
            var handler = function(e) {
                var isValid = !!($(this).val().trim());
                if (isValid && item == 'email') {
                    isValid = mailRegex.test($(this).val());
                }
                if (isValid && item == 'postprice') {
                    isValid = numericRegex.test($(this).val());
                }

                var isDdl = $(this)[0].tagName == 'SELECT';
                if (isDdl)
                    $(this)[isValid ? 'removeClass' : 'addClass']('error');
                else
                    $(this).parent()[isValid ? 'removeClass' : 'addClass']('error');

            };

            var $c = $('#' + item);
            $c.change(handler);
            $c.blur(handler);
        })(item);
    }

    $('input[type=submit]').click(function(e) {
        e.preventDefault();
        e.stopPropagation;

        if (!check()) {
            //todo
        } else {
            $('form').submit();
        }
    });

});
 </script>