 
  
<div class="container">
   
 <% a=0 %>
 <% counter=0 %>
 <% b=0 %>
 <% c=Array.new %>

     <% for x in @client.user_recent_media %>
       <% c.push(x.images.thumbnail.url) %> 
       <% x.likes[:count] %> 
       <% a=a+x.likes[:count] %>
       <% counter=counter+1 %>
      <%end%>


    <% for t in @client.user_recent_media %>
    <% b=b+t.comments[:count] %>
    <%end%>



    <% @averagecomments=b/(counter.nonzero? || 1)%>
    <% @averagelikes=a/(counter.nonzero? || 1) %>
    <% @profile_picture_url= @client.user.profile_picture %>


 <div class="col-xs-5" id="form">
<br>
<%= form_for(@instauser) do |f| %>  
  <div class="input-group"> 
  	<div class="form-group">

    <%= f.label :fullname %><br> 
    <%= f.text_field :fullname, class: "form-control" %> <br>
    <%= f.label :email %><br> 
    <%= f.text_field :email, class: "form-control" %> <br>
 
    <%= f.label :age %><br> 
    <%= f.number_field :age, class: "form-control" %> <br>
    <%= "Gender:" %><br>
    <%= f.select :gender, 
    options_for_select([['Erkek','Erkek'],['Kadın','Kadın']] ,2),{}, { :class => 'form-control' } %><br>
      
    <%= f.label :location %><br> 
    <%= f.select :location, 
    options_for_select([['İstanbul','İstanbul'],['İzmir','İzmir'], ['Ankara','Ankara']] ,2),{}, { :class => 'form-control' } %><br><br>
      <%= "Select one theme that defines your timeline the most" %><br>
     <%= f.select :theme, 
    options_for_select([['Genel','Genel'],['Yemek','Yemek'],['Gezi','Gezi'], ['Sanat','Sanat'], ['Güzellik','Güzellik'], ['Moda','Moda'],['Dans','Dans'],['Motorsiklet','Motorsiklet'],['Müzik','Müzik'],['Doğa','Doğa'],['Spor','Spor'], ['Şehir Hayatı','Şehir Hayatı'],['Fitness','Fitness'], ['Tasarım','Tasarım']], 2), {}, { :class => 'form-control' } %> <br><br>
     <%= "Gönderi Başına İstediğiniz Minimum Fiyat: (min. $100)"  %> <br>
     <%= f.number_field :postprice, class: "form-control", :placeholder=> "$" %> <br>
     <%= f.hidden_field :followed_by, :value => @client.user.counts.followed_by %>
     <%=  f.hidden_field :username, :value => @client.user.username %>
     <%= f.hidden_field :averagelikes, :value => @averagelikes %>
     <%= f.hidden_field :averagecomments, :value => @averagecomments %>
     <%= f.hidden_field :profile_picture,  :value => @profile_picture_url %>
     <%= f.hidden_field :recent_media_urls, :value => c %>

  </div> <br>
  <div class="actions"> 
    <%= f.submit "Create", data: {disable_with: "Uploading Now (Be Patient)..."} %> 
   </div> </div>
<% end %><br>

</div>
 

 </div>
 