
	<div class="subtitle3">YOU'VE SENT PROPOSAL TO</div>
	<span class="proposalfrom"><% unless @instauser.profile_picture.nil? %><a class="avatar"><img src="<%= @instauser.profile_picture %>" width="45"></a>&nbsp;<%end%><%= @instauser.firstname %>&nbsp;<%= @instauser.lastname %></span>
	
	<div class="row row0 clearfix proposalinfo">
	
		<div class="row row0 clearfix proposalinfo1">
			
			<div class="col-sm-4 col-xs-4 col0">Status</div>
			<div class="col-sm-8 col-xs-8"><span class="proposalstatus pending"><i class="fa fa-circle-o"></i> <%=@charge.state%></span></div>
		</div>
			
		<div class="col-sm-4 col-xs-4 col0">Next Step?</div>
		<div class="col-sm-8 col-xs-8">



		<% if @charge.pending? %>
         
             
			<%= link_to edit_charge_path(@charge.id) do %>
			 <button class="btn btn-sm btnprop"><i class="fa fa-pencil"></i> EDIT</button><%end%>

  
			 
			<%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
					<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
            <%end %>
           
        <% elsif @charge.release_requested? %>
		           <%= link_to complete_charge_path(@charge.id), method: :patch do %>
				              <button class= "btn btn-sm btnprop"><i class="fa fa-check"></i> MARK COMPLETE</button>
				              <%end%>

				              <%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
									<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
		            <%end %>
            
        <% else %>

		    	  <%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
							<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
		            <%end %>

     	 <%end%>
	

			 
		</div>
		
	</div>

	<h2 class="text-center proptitle">PROPOSAL DETAILS</h2>
	
	<div class="proposalinfo2 proposalinfo3">
		<div class="subtitle">Price</div>
		<div class="row row0 bot-buffer10"><span>Proposed Price:</span>&nbsp;<%= number_with_precision((@charge.amount.to_f/100).round(2), :precision=>2) %>&nbsp;USD&nbsp;&nbsp;&nbsp;<%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
					 <i class="fa fa-comment"></i> Negotiate
            <%end %></div>
	
	</div>

	<div class="proposalinfo2">
		<div class="subtitle">Product Details</div>
		<div class="row row0 bot-buffer10"><span>Product Name:</span> <%= @charge.product_name %></div>
		<div class="row row0 bot-buffer10"><span>Product Link:</span> <a href="<%= @charge.product_link %>" target="_blank"><%= @charge.product_link %></a></div>
		<div class="row row0 bot-buffer10"><span>Product Description:</span> <%= @charge.product_description %></div>
		<div class="row row0 bot-buffer10"><span>Instagram Link:</span> <a href="<%= @charge.instagram_link %>" target="_blank"><%= @charge.instagram_link %></a></div>
	</div>

	<div class="proposalinfo2">
	<div class="subtitle">Post Details</div>
		<div class="row row0 bot-buffer10"><span>Post Description:</span> <%= @charge.post_description %></div>
		<div class="row row0 bot-buffer10"><span>Suggested Caption:</span> <%= @charge.suggested_caption %></div>
		<div class="row row0 bot-buffer10"><span>Hashtags to include:</span> <%= @charge.hash_tags %></div>
		<div class="row row0 bot-buffer10"><span>Username to include:</span> <%= @charge.user_names %></div>
	</div>
	
	<div class="proposalinfo2">
		<div class="subtitle">Timeline</div>
		<div class="row row0 bot-buffer10"><span>Earliest post date:</span> <%= @charge.earliest_post_date %></div>
		<div class="row row0 bot-buffer10"><span>Last post date:</span> <%= @charge.last_post_date %></div>
	</div>
	
    <% if @charge.pending? %>
         
             <%= link_to edit_charge_path(@charge.id) do %>
              <button class= "btn btn-send"><i class="fa fa-pencil"></i> EDIT</button>
              <%end%>

            
           
       <% elsif @charge.release_requested? %>
        
              <%= link_to complete_charge_path(@charge.id), method: :patch do %>
              <button class= "btn btn-send"><i class="fa fa-check"></i>COMPLETE</button>
              <%end%>
            
        <% else %>
       <%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
							<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> Chat with User</button>
		            <%end %>


      <%end%>
	