
<div class="msgpage">
<div class="container">	


<h2 class="text-center">THE PROPOSAL</h2> 
 

  <div class="row row0 proposaluser">
  <div class="col-sm-12 text-center"><a href="#" class="avatar"><img width="75" height="75" src="<%= @instauser.profile_picture%>" /></a></div>
</div>

<div class="subtitle">SUMMARY</div>

<div class="row row0 clearfix proposalinfo">

		<div class="row row0 clearfix">

		 <div class="col-sm-4 col-xs-4 col0">To:</div>
		<div class="col-sm-8 col-xs-8"><span class="proposalfrom"><%= @instauser.firstname.upcase %>&nbsp;<%= @instauser.lastname.upcase %></span></div>

		</div>

		<div class="row row0 clearfix proposalinfo1b">
		<div class="col-sm-4 col-xs-4 col0">ID</div>
		<div class="col-sm-8 col-xs-8"><span class="proposalfrom">#<%= @charge.id %></span></div>
	</div>
	
	 	
		<div class="row row0 clearfix proposalinfo1">
			
			<div class="col-sm-4 col-xs-4 col0">Status</div>
			<div class="col-sm-8 col-xs-8">
				 

					<% if @charge.state=="pending" %>
							<span class="proposalstatus pending"><i class="fa fa-circle-o"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="declined" %>
							<span class="proposalstatus declined"><i class="fa fa-ban"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="accepted" %>
							<span class="proposalstatus active"><i class="fa fa-rocket"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="release_requested" %>
							<span class="proposalstatus requested"><i class="fa fa-shopping-cart"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="completed" %>
							<span class="proposalstatus completed"><i class="fa fa-check"></i> <%=@charge.state%></span> 
					<%end%>
			</div>
		</div>
			
			<div class="row row0 clearfix">
		<div class="col-sm-4 col-xs-4 col0">Next step:</div>
		<div class="col-sm-8 col-xs-8">



		<% if @charge.pending? %>
         
             
			<%= link_to edit_charge_path(@charge.id) do %>
			 <button class="btn btn-sm btnprop"><i class="fa fa-pencil"></i> EDIT?</button><%end%>

  
			 
			<%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
					<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
            <%end %>
           
        <% elsif @charge.release_requested? %>
		           <%= link_to complete_charge_path(@charge.id), method: :patch do %>
				              <button class= "btn btn-sm btnprop"><i class="fa fa-check"></i> MARK COMPLETE</button>
				              <%end%>

				              <%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
									<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
		            <%end %>
            
        <% else %>

		    	  <%= link_to  new_message_path(instauser_param: @charge.instauser_id)  do %>
							<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> MESSAGE</button>
		            <%end %>

     	 <%end%>
	

			 
		</div>
		
	</div>
</div>

	<div class="subtitle">DETAILS</div>
	
	

	<div class="proposalinfo2">
		<div class="subtitle"><i class="fa fa-diamond"></i> Product details</div>
		<div class="row row0 bot-buffer10"><span>Name:</span> <%= @charge.product_name %></div>
		<div class="row row0 bot-buffer10"><span>Link:</span> <a href="http://<%= @charge.product_link %>" target="_blank"><%= @charge.product_link %></a></div>
		<div class="row row0 bot-buffer10"><span>Description:</span> <%= @charge.product_description %></div>
		<div class="row row0 bot-buffer10"><span>Instagram name:</span> <a href="http://instagram.com/<%= @charge.instagram_link %>" target="_blank"><%= @charge.instagram_link %></a></div>
	</div>

	<div class="proposalinfo2">
	<div class="subtitle"><i class="fa fa-instagram"></i> Post details</div>
		<div class="row row0 bot-buffer10"><span>Description:</span> <%= @charge.post_description %></div>
		<div class="row row0 bot-buffer10"><span>Suggested caption:</span> <%= @charge.suggested_caption %></div>
		<div class="row row0 bot-buffer10"><span>Hashtags to include:</span> <%= @charge.hash_tags %></div>
		<div class="row row0 bot-buffer10"><span>Username to include:</span> <%= @charge.user_names %></div>
	</div>
	
	<div class="proposalinfo2">
		<div class="subtitle"><i class="fa fa-calendar"></i> Timeline</div>
		<div class="row row0 bot-buffer10"><span>Earliest post date:</span> <% unless @charge.earliest_post_date.nil? %><%= @charge.earliest_post_date.strftime("%d/%m/%Y") %><%end%></div>
		<div class="row row0 bot-buffer10"><span>Last post by:</span><% unless @charge.last_post_date.nil? %> <%= @charge.last_post_date.strftime("%d/%m/%Y") %><%end%></div>
	</div>


<div class="proposalinfo2 proposalinfo3">
		<div class="subtitle"><i class="fa fa-credit-card"></i> Price</div>
		<div class="row row0 bot-buffer10"><span><i class="fa fa-shopping-cart"></i> Total Price:</span>&nbsp;<%= number_with_precision((@charge.amount.to_f/100).round(2), :precision=>2) %>&nbsp;USD&nbsp;&nbsp;&nbsp; </div>
	
	</div>



	
    <% if @charge.pending? %>
         
             <%= link_to edit_charge_path(@charge.id) do %>
              <button class= "btn btn-send"><i class="fa fa-pencil"></i> EDIT?</button>
              <%end%>

            
           
       <% elsif @charge.release_requested? %>
        
              <%= link_to complete_charge_path(@charge.id), method: :patch do %>
              <button class= "btn btn-send"><i class="fa fa-check"></i>COMPLETE</button>
              <%end%>
            
        <% else %>
     


      <%end%>
	
	</div>
</div>