
<% if (instauser_logged_in? && !branduser_logged_in?) %>

  <% if @charges.empty? %>
    <%= "There are no proposals yet" %>
  <% else %>
    <% @charges.each do |x| %>
      <ul class="list-group" id="form">
        <li class="list-group-item list-group-item-disabled">
          <font face="lobster"><h3 align="center"><%= x.branduser.coname %></h3></font>
          <%= link_to "Message The Company", new_message_path(branduser_param: x.branduser.id) %>
        </li>
        <li class="list-group-item">
          Amount: <%= "$ "%><%= (x.amount/(1.15*100)).round %></li>

        <li class="list-group-item">
          Product Name: <%= x.product_name %></li>
        <li class="list-group-item">
          Product Description: <%= x.product_description %></li>
        <li class="list-group-item">
          Product Link: <%= x.product_link %></li>
        <li class="list-group-item">
          Instagram Link: <%= x.instagram_link %></li>

        <li class="list-group-item">
          Post Description: <%= x.post_description %></li>
        <li class="list-group-item">
          Suggested Caption: <%= x.suggested_caption %></li>
        <li class="list-group-item">
          Hash Tags to Include: <%= x.hash_tags %></li>
        <li class="list-group-item">
          Usernames to include: <%= x.user_names %></li>

        <li class="list-group-item">
          Earliest Post Date: <%= x.earliest_post_date %></li>
        <li class="list-group-item">
          Last Post Date: <%= x.last_post_date %></li>

        <% if x.pending? %>
          <li class="list-group-item list-group-item-disabled">
            <h4><span class="label label-warning"><%= x.state.titleize %></span></h4></li>
          <li class="list-group-item" align="center">
            <span class="btn-group">
              <%= link_to "Accept", accept_charge_path(x.id), method: :patch, class: "btn btn-default", data: {disable_with: "Accepting..."}  %>
              <%= link_to "Decline", decline_charge_path(x.id), method: :patch, class: "btn btn-default", data: {disable_with: "Declining..."}  %>
            </span></li>
        <% elsif x.accepted? %>
          <li class="list-group-item" align="center">
            <h4><span class="label label-success"><%= x.state.titleize %></span></h4>
          </li>
          <li class="list-group-item" align="center">
            <span class="btn-group">
              <%= link_to "Request Release", release_request_charge_path(x.id), method: :patch, class: "btn btn-default", data: {disable_with: "Requesting Release..."}  %>
            </span></li>
        <% else %>
          <li class="list-group-item" align="center">
            <h4><span class="label label-success"><%= x.state.titleize %></span></h4>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

<% elsif branduser_logged_in? && !instauser_logged_in? %>

  <% if @charges.empty? %>
    <%= "There are no proposals yet" %>
  <% end %>

  <% @charges.each do |x| %>
    <ul class="list-group" id="form">
      <li class="list-group-item">
        <h4>
          <img src="<%= x.instauser.profile_picture %>" width="28" onerror="imgError(this);" class="margin"> 
          <font face="lobster"><%= x.instauser.username %></font> 
        </h4>
        <%= link_to "Message User", new_message_path(instauser_param: x.instauser.id) %> </li>
      <li class="list-group-item">
        Amount: <%= "$ "%><%= x.amount/100 %></li>
      
      <li class="list-group-item">
        Product Name: <%= x.product_name %></li>
      <li class="list-group-item">
        Product Description: <%= x.product_description %></li>
      <li class="list-group-item">
        Product Link: <%= x.product_link %></li>
      <li class="list-group-item">
        Instagram Link: <%= x.instagram_link %></li>

      <li class="list-group-item">
        Post Description: <%= x.post_description %></li>
      <li class="list-group-item">
        Suggested Caption: <%= x.suggested_caption %></li>
      <li class="list-group-item">
        Hash Tags to Include: <%= x.hash_tags %></li>
      <li class="list-group-item">
        Usernames to include: <%= x.user_names %></li>

      <li class="list-group-item">
        Earliest Post Date: <%= x.earliest_post_date %></li>
      <li class="list-group-item">
        Last Post Date: <%= x.last_post_date %></li>

      <li class="list-group-item">
        Status: <span class="label label-success"><%= x.state.titleize %></span></li>

      <% if x.pending? %>
        <li class="list-group-item" align="center">
          <span class="btn-group">
            <%= link_to "Edit", edit_charge_path(x.id), class: "btn btn-default"  %>
          </span></li>
      <% elsif x.release_requested? %>
        <li class="list-group-item" align="center">
          <span class="btn-group">
            <%= link_to "Mark Complete", complete_charge_path(x.id), method: :patch, class: "btn btn-default", data: {disable_with: "Marking Complete..."}  %>
          </span></li>
      <% end %>
    </ul>
  <% end %>

<% else %>
  <% redirect_to root_path %>
<% end %>
