
<% if (instauser_logged_in? && !branduser_logged_in?) %>

  <% if @charges.empty? %>
    <%= "There are no proposals yet" %>
  <%else%>
    <% @charges.each do |x| %>
      <ul class="list-group" id="form">
        <li class="list-group-item list-group-item-disabled">
          <font face="lobster"><h3 align="center"><%= x.branduser.coname %></h3></font>
          <%= link_to "Message The Company", new_message_path(branduser_param: x.branduser.id) %>
        </li>
        <li class="list-group-item">
          <%= "Amount:" %>
          <%= "$ "%><%= (x.amount/(1.15*100)).round %></li>
        <li class="list-group-item">
          <%= "Product:" %>
          <%= x.productname %></li>
        <li class="list-group-item">
          <%= "Explanation:"%>
          <%= x.explanation %></li>
        <li class="list-group-item">
          <%= "URL:"%>
          <%= x.instalink %></li>
        <li class="list-group-item">
          <%= "Post:"%>
          <%= x.instapost %></li>

        <% if x.status=="accepted" %>
          <li class="list-group-item" align="center">
            <h4><span class="label label-success"><%= x.status %></span></h4>
          </li>
        <% elsif x.status=="unaccepted" %>
          <li class="list-group-item list-group-item-disabled">
            <h4><span class="label label-warning"><%= x.status %></span></h4></li>
          <li class="list-group-item" align="center">
            <span class="btn-group"><%= link_to "Accept the Proposal", charges_bill_path(charge: x.id),  class: "btn btn-default", data: {disable_with: "Accepting..."}  %>
            </span></li>
        <%end%>
      </ul>
    <%end%>
  <%end%>

<% elsif branduser_logged_in? && !instauser_logged_in? %>

  <% if @charges.empty? %>
    <%= "There are no proposals yet" %>
  <%end%>

  <% @charges.each do |x| %>
    <ul class="list-group" id="form">
      <li class="list-group-item">
        <h4><img src="<%= x.instauser.profile_picture %>" width="28" onerror="imgError(this);" class="margin"> 
          <font face="lobster"><%= x.instauser.username %></font> </h4>
          <%= link_to "Message User", new_message_path(instauser_param: x.instauser.id) %> </li>
      <li class="list-group-item">
        <%= "Amount:" %>
        <%= "$ "%><%= x.amount/100 %></li>
      <li class="list-group-item">
        <%= "Product:" %>
        <%= x.productname %></li>
      <li class="list-group-item">
        <%= "Explanation:"%>
        <%= x.explanation %></li>
      <li class="list-group-item">
        <%= "URL:"%>
        <%= x.instalink %></li>
      <li class="list-group-item">
        <%= "Post:"%>
        <%= x.instapost %></li>

      <% if x.status=="accepted" %>
        <li class="list-group-item">
          <%= "Status:" %>
          <span class="label label-success"><%= x.status %></span></li>
      <% elsif x.status=="unaccepted" %>
        <li class="list-group-item">
          <%= "Status:" %>
          <span class="label label-default"><%= x.status %></span></li>
      <% end %>
    </ul>
  <%end%>

<% else %>
  <% redirect_to root_path %>
<%end%>
