<%= render 'layouts/header2' %>
<div class="msgpage">
<div class="container"> 
  <h2 class="text-center proptitle">SEND A PROPOSAL</h2>

  <div class="row row0 proposaluser">
  <div class="col-sm-12 text-center"><a href="#" class="avatar"><img width="75" height="75" src="<%= @instauser.profile_picture%>" /></a></div>
</div>

 <br>


   <%= form_for @charge do |f|  %>

<div class="proposalinfo2">
  <div class="subtitle"><i class="fa fa-diamond"></i> Product</div>
  

  <div class="form-group">
      <%= f.text_field :product_name, class: "form-control formcapish", id:"email", placeholder: "Name *" ,onfocus: "this.placeholder = ''" ,onblur: "this.placeholder='Name *'" %>

  </div>



  <div class="form-group form-groupweb">
     <%= f.text_field :product_link, class: "form-control formcapish", id: "email", placeholder: "Link" , onfocus: "this.placeholder = ''" ,onblur: "this.placeholder='Link'" %>
  


  </div>
  <!-- 
 <div class="form-group form-noborder form-groupbio">

  <label for="name" class="gender"><i class="fa fa-file-text-o"></i>Product description</label>
 
    <%= f.text_area :product_description, cols: 40, onblur: "this.placeholder='Product Description'", onfocus: "this.placeholder = ''" , placeholder: "" %>
     
  </div> !-->

   <div class="form-group form-groupinsta">

     <%= f.text_field :instagram_link, type: "email" , class: "form-control formcapish",  id: "email" , placeholder: "Instagram name",  onfocus: "this.placeholder = ''" , onblur: "this.placeholder='Instagram name'"  %>
          </div>

  

  </div>
 
 
<div class="proposalinfo2">
  <div class="subtitle"><i class="fa fa-instagram"></i> Post</div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender"><i class="fa fa-file-text-o"></i>Post description</label>
       <%= f.text_area :post_description, cols: 40, onblur: "this.placeholder='Post description'" , onfocus: "this.placeholder = ''" , placeholder: "" %>
     
  </div>
  
  <div class="form-group form-groupcaption">
    
     <%= f.text_field :suggested_caption, class: "form-control formcapish", cols: 40, onblur: "this.placeholder='Suggested caption'", onfocus:"this.placeholder = ''" , placeholder:"Suggested caption" %>

   
  </div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender"><i class="fa fa-hashtag"></i>Hashtags to include</label>
     <%= f.text_area :hash_tags, cols: 40, onblur: "this.placeholder='Hashtags to include'" , onfocus: "this.placeholder = ''" ,placeholder: "" %>
 
  </div>
  
  <div class="form-group form-groupinsta2">
     
     <%= f.text_field :user_names, class: "form-control formcapish", cols: 40, onblur: "this.placeholder='Usernames to include'" , onfocus: "this.placeholder = ''" ,placeholder: "Usernames to include"%>
   
  </div>
</div>
  
<div class="proposalinfo2 proposalinfo4"> 

  <div class="subtitle"><i class="fa fa-calendar"></i> Timeline</div>
  
  <div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender">Earliest post date *</label>

       <%= f.date_select :earliest_post_date, order: [:day, :month, :year] , class: "form-control date-field" %>



         
  </div>
  
  <div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender">Last post by *</label>
       <%= f.date_select :last_post_date,order: [:day, :month, :year], class: "form-control date-field" %>

  </div>
  
</div>
 
  
  <div class="proposalinfo2 proposalinfo3">
    <div class="subtitle"><i class="fa fa-credit-card"></i> Price</div>
    <div class="row row0 bot-buffer10"><i class="fa fa-plus"></i><span>&nbsp;Price:</span>&nbsp;<%= f.number_field :amount, type: "fullname", class: "editprice", col: 80, value: (@amount/100) %>&nbsp;USD</div>

    <div class="row row0 bot-buffer10"><i class="fa fa-plus"></i><span>&nbsp;Service charge:</span>&nbsp;<%= "%20" %></div>
     <hr>
    <div class="row row0 bot-buffer10"><strong><span><i class="fa fa-shopping-cart"></i> &nbsp;TOTAL:</span>&nbsp;<span id="total_updated_price"><%= (@amount*1.20/100).round(2) %>&nbsp;USD</span></strong> 
    </div>
    <div class="row row0 bot-buffer10 proposalcardinfo">(Your credit card will be charged only when the Instagrammer accepts your proposal.)</div>
  </div>

   
     
        
  
          <%= hidden_field_tag :useremail, @instauser.email %>
          <%= hidden_field_tag 'charge[branduser_id]', @branduser.id %>
          <%= hidden_field_tag 'charge[instauser_id]', @instauser.id %>
          <%= hidden_field_tag 'charge[status]', "unaccepted" %> 
           <div class="row row0 text-right">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-image="<%= image_url('capishavatar.png') %>"
            data-description="Your credit card won'be charged now."
            data-name= "Capish"
            data-panel-label= "SEND"
            data-locale="auto"
            data-label="SEND via Stripe"
           
            data-allow-remember-me= "false" >SEND</script></div> <div class="row row0 text-right proposalstripe"><a href="https://stripe.com/" target="_blank">Stripe</a> is a world-wide trusted payment platform.</div>
           
 <% end %>

</div>
</div>
   <script type="text/javascript">
          $('#charge_amount').on('change', function(e){
            $('#total_updated_price').html(($(this).val()*1.20).toFixed(2));
          });
        </script>


<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
  <!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script>

</div>

