<%= render 'layouts/header2' %>
<div class="msgpage">
<div class="container"> 
  <h2 class="text-center proptitle">PROPOSAL FORM</h2>

   <%= form_for @charge do |f|  %>


<div class="proposalinfo2">
  <div class="subtitle">Product</div>
  

  <div class="form-group">
      <%= f.text_field :product_name, class: "form-control formcapish", id:"email", placeholder: "Product Name *" ,onfocus: "this.placeholder = ''" ,onblur: "this.placeholder='Product Name *'" %>

  </div>



  <div class="form-group">
     <%= f.text_field :product_link, class: "form-control formcapish", id: "email", placeholder: "Product Link" , onfocus: "this.placeholder = ''" ,onblur: "this.placeholder='Product Link'" %>
  


  </div>
  <label for="name" class="gender">Procuct Description</label>
  <div class="form-group form-noborder form-groupbio">
    <%= f.text_area :product_description, cols: 40, onblur: "this.placeholder='Product Description'", onfocus: "this.placeholder = ''" , placeholder: "" %>
     
  </div>

   <div class="form-group">

     <%= f.text_field :instagram_link, type: "email" , class: "form-control formcapish",  id: "email" , placeholder: "@ Instagram Username",  onfocus: "this.placeholder = ''" , onblur: "this.placeholder='@ Instagram Username'"  %>
          </div>

  

  </div>
 
 
<div class="proposalinfo2">
  <div class="subtitle">Post</div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender">Post Description</label>
       <%= f.text_area :post_description, cols: 40, onblur: "this.placeholder='Post Description'" , onfocus: "this.placeholder = ''" , placeholder: "" %>
     
  </div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender">Suggested Caption</label>
     <%= f.text_area :suggested_caption, cols: 40, onblur: "this.placeholder='Suggested Caption'", onfocus:"this.placeholder = ''" , placeholder:"" %>

   
  </div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender">Hashtags to include</label>
     <%= f.text_area :hash_tags, cols: 40, onblur: "this.placeholder='Hashtags to include'" , onfocus: "this.placeholder = ''" ,placeholder: "" %>
 
  </div>
  
  <div class="form-group form-noborder form-groupbio">
    <label for="name" class="gender">Usernames to include</label>
     <%= f.text_area :user_names, cols: 40, onblur: "this.placeholder='Usernames to include'" , onfocus: "this.placeholder = ''" ,placeholder: ""%>
   
  </div>
</div>
  
<div class="proposalinfo2"> 

  <div class="subtitle">Timeline</div>
  
  <div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender">Earliest post date *</label>
                <%= f.text_field :earliest_post_date, class: "form-control date-field" , :placeholder=>"dd-mm-yyyy"%>
  </div>
  
  <div class="form-group form-noborder birth clearfix">
    <label for="name" class="gender">Last post date *</label>
       <%= f.text_field :last_post_date, class: "form-control date-field", :placeholder=>"dd-mm-yyyy"%>

  </div>
  
</div>

  
  <div class="proposalinfo2 proposalinfo3">
    <div class="subtitle">Price</div>
    <div class="row row0 bot-buffer10"><span>Instagrammer's Price:</span>&nbsp;<%= @amount/100 %>&nbsp;USD</div>
    <div class="row row0 bot-buffer10"><span>Service Charge:</span>&nbsp;<%= (@amount*0.20/100).round(2) %>&nbsp;USD</div>
     <hr>
    <div class="row row0 bot-buffer10"><strong><span>TOTAL:</span>&nbsp;<%= (@amount*1.20/100).round(2) %>&nbsp;USD</strong> 
    </div>
    <div class="row row0 bot-buffer10 proposalcardinfo">(Your credit card won't be charged till instagrammer accepts your proposal.)</div>
  </div>

   
     
          <%= hidden_field_tag 'charge[amount]', (@amount*1.20).round(2) %> 
          <%= hidden_field_tag :amount, (@amount*1.20).round(2) %> 
          <%= hidden_field_tag :useremail, @instauser.email %>
          <%= hidden_field_tag 'charge[branduser_id]', @branduser.id %>
          <%= hidden_field_tag 'charge[instauser_id]', @instauser.id %>
          <%= hidden_field_tag 'charge[status]', "unaccepted" %> 
           <div class="row row0 text-right">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description=<%= @message %>
            data-amount= <%= (@amount*1.20).round(2) %>
            data-locale="auto"
            data-label="SUBMIT via STRIPE"
            data-email= <%=@branduser.email%>  
            data-allow-remember-me= "false" >SEND</script></div> <div class="row row0 text-right proposalstripe"><a href="https://stripe.com/" target="_blank">Stripe</a> is a world-wide trusted payment platform.</div>
           
 <% end %>

</div>
</div>

<div class="footer-wrapper">
<div class="container text-center">
  <footer>
    <a href="/pages/about">About</a>
    <a href="/faq">FAQ</a>
    <a href="/privacy">Privacy</a>
    <a href="/pages/terms">Terms</a>
  </footer>
</div>
  <!-- google analytics code !-->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73073794-1', 'auto');
  ga('send', 'pageview');

</script>

</div>

