<%= render 'layouts/header2' %>

<div class="col-md-6 col-md-offset-3" %>
  <div class="list-group">
    <li class="list-group-item list-group-item-disabled" id="textcenter">
      <h3><strong><font face="Lobster"> <%= "Proposal" %></font></strong></h3>
    </li>
  
    <%= form_for @charge do |f|  %>
      <div class="center">
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
        </article>

        <h2>Product</h2>
        <div class="row form-group">
          <label class="col-sm-4">Product Name: </label>
          <div class="col-sm-8">
            <%= f.text_field :product_name, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Product Link: </label>
          <div class="col-sm-8">
            <%= f.text_field :product_link, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Product Description: </label>
          <div class="col-sm-8">
            <%= f.text_area :product_description, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Instagram Link: </label>
          <div class="col-sm-8">
            <%= f.text_field :instagram_link, class: "form-control" %>
          </div>
        </div>

        <br>

        <h2>Post</h2>
        <div class="row form-group">
          <label class="col-sm-4">Post Description: </label>
          <div class="col-sm-8">
            <%= f.text_area :post_description, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Suggested Caption: </label>
          <div class="col-sm-8">
            <%= f.text_area :suggested_caption, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Hash Tags to include: </label>
          <div class="col-sm-8">
            <%= f.text_area :hash_tags, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Usernames to include: </label>
          <div class="col-sm-8">
            <%= f.text_area :user_names, cols: 40, class: "form-control" %>
          </div>
        </div>

        <br>

        <h2>Timeline</h2>
        <div class="row form-group">
          <label class="col-sm-4">Earliest Post Date: </label>
          <div class="col-sm-8">
            <%= f.text_field :earliest_post_date, class: "form-control date-field" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Last Post Date: </label>
          <div class="col-sm-8">
            <%= f.text_field :last_post_date, class: "form-control date-field" %>
          </div>
        </div>

        <h2>Price</h2>
        <div class="row form-group">
          <label class="col-sm-4">Post Price: </label>
          <div class="col-sm-8">
            <%= f.number_field :amount, class: "form-control", value: (@charge.amount/120).round(2), step: '0.01' %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Service Charge: </label>
          <div class="col-sm-8">
            <span>20%</span>
          </div>
        </div><div class="row form-group">
          <label class="col-sm-4">Total: </label>
          <div class="col-sm-8">
            <span id="total_updated_price">$<%= (@charge.amount/100).round(2)  %></span>
          </div>
        </div>

        <script type="text/javascript">
          $('#charge_amount').on('change', function(e){
            $('#total_updated_price').html(($(this).val()*1.20).toFixed(2));
          });
        </script>

        <br>

          <%= hidden_field_tag :amount, (@amount*1.20).round(2) %> 
          <%= hidden_field_tag :useremail, @instauser.email %>
          <%= hidden_field_tag 'charge[branduser_id]', @branduser.id %>
          <%= hidden_field_tag 'charge[instauser_id]', @instauser.id %>
          <%= hidden_field_tag 'charge[status]', "unaccepted" %> 

        <div class="actions"> 
          <%= f.submit "Edit"  %> 
        </div> 
        </div>
      </div>
    <% end %>
  </div>
