<%= render 'layouts/header2' %>

<div class="col-md-6 col-md-offset-3" %>
  <div class="list-group">
    <li class="list-group-item list-group-item-disabled" id="textcenter">
      <h3><strong><font face="Lobster"> <%= "Proposal" %></font></strong></h3>
    </li>
  
    <%= form_for @charge do |f|  %>
      <div class="center">
        <article>
          <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
          <% end %>
        </article>

        <h2>Product</h2>
        <div class="row form-group">
          <label class="col-sm-4">Product Name: </label>
          <div class="col-sm-8">
            <%= f.text_field :product_name, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Product Link: </label>
          <div class="col-sm-8">
            <%= f.text_field :product_link, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Product Description: </label>
          <div class="col-sm-8">
            <%= f.text_area :product_description, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Instagram Link: </label>
          <div class="col-sm-8">
            <%= f.text_field :instagram_link, class: "form-control" %>
          </div>
        </div>

        <br>

        <h2>Post</h2>
        <div class="row form-group">
          <label class="col-sm-4">Post Description: </label>
          <div class="col-sm-8">
            <%= f.text_area :post_description, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Suggested Caption: </label>
          <div class="col-sm-8">
            <%= f.text_area :suggested_caption, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Hash Tags to include: </label>
          <div class="col-sm-8">
            <%= f.text_area :hash_tags, cols: 40, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Usernames to include: </label>
          <div class="col-sm-8">
            <%= f.text_area :user_names, cols: 40, class: "form-control" %>
          </div>
        </div>

        <br>

        <h2>Timeline</h2>
        <div class="row form-group">
          <label class="col-sm-4">Earliest Post Date: </label>
          <div class="col-sm-8">
            <%= f.date_field :earliest_post_date, class: "form-control" %>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-sm-4">Last Post Date: </label>
          <div class="col-sm-8">
            <%= f.date_field :last_post_date, class: "form-control" %>
          </div>
        </div>

        <li class="list-group-item">
          <%= "Instagramer Post Price:   "%><%= "$" %><%= @amount/100 %><br>
          <%= "Service Charge:  "%><%= "$" %><%= (@amount*0.15/100).round %><br><hr>
          <strong> <%= "TOTAL:  " %><%= "$" %><%= (@amount*1.15/100).round %></strong></li>
        <li class="list-group-item" align="center">
          <%= hidden_field_tag 'charge[amount]', (@amount*1.15).round %> 
          <%= hidden_field_tag :amount, (@amount*1.15).round %> 
          <%= hidden_field_tag :useremail, @instauser.email %>
          <%= hidden_field_tag 'charge[branduser_id]', @branduser.id %>
          <%= hidden_field_tag 'charge[instauser_id]', @instauser.id %>
          <%= hidden_field_tag 'charge[status]', "unaccepted" %> 

              </li>
          <br>

          <div class="actions"> 
          <%= f.submit "Edit"  %> 
        </div> 
        </div>
      </div>
    <% end %>
  </div> 