
	<div class="msgpage">
<div class="container">	


	<h2 class="text-center">THE PROPOSAL</h2> 
	<div class="subtitle">SUMMARY</div>



	<div class="row row0 clearfix proposalinfo">


		<div class="row row0 clearfix">
		<div class="col-sm-4 col-xs-4 col0">From:</div>
		<div class="col-sm-8 col-xs-8"><span class="proposalfrom"><% unless @branduser.nil? %><%= @branduser.firstname %>, <%= @branduser.coname %><%end%></span></div>
		</div>
	<div class="row row0 clearfix proposalinfo1b">
		<div class="col-sm-4 col-xs-4 col0">ID</div>
		<div class="col-sm-8 col-xs-8"><span class="proposalfrom">#<%= @charge.id %></span></div>
	</div>
	 
		<div class="row row0 clearfix proposalinfo1">
			
			<div class="col-sm-4 col-xs-4 col0">Status</div>
			<div class="col-sm-8 col-xs-8">
					<% if @charge.state=="pending" %>
							<span class="proposalstatus pending"><i class="fa fa-circle-o"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="declined" %>
							<span class="proposalstatus declined"><i class="fa fa-ban"></i> <%=@charge.state%></span> 
					<% elsif @charge.state=="accepted" %>
							<span class="proposalstatus active"><i class="fa fa-rocket"></i> active </span> 
					<% elsif @charge.state=="release_requested" %>
							<span class="proposalstatus requested"><i class="fa fa-shopping-cart"></i> payment requested</span> 
					<% elsif @charge.state=="completed" %>
							<span class="proposalstatus completed"><i class="fa fa-check"></i> <%=@charge.state%></span> 
					<%end%>
			</div>

		</div>


		<div class="row row0 clearfix">
			
		<div class="col-sm-4 col-xs-4 col0">Next Step:</div>
		<div class="col-sm-8 col-xs-8">



				<% if @charge.pending? %>
         
             
			<%= link_to accept_charge_path(@charge.id), method: :patch   do  %>
			 <button class="btn btn-sm btnprop"><i class="fa fa-check"></i> ACCEPT</button><%end%>

            <%= link_to decline_charge_path(@charge.id), method: :patch  do  %>
              <button class= "btn btn-sm btnprop"><i class="fa fa-ban"></i> DECLINE</button>
              <%end%>

			 
			<%= link_to  new_message_path(branduser_param: @charge.branduser_id)  do %>
					<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> NEGOTIATE</button>
            <%end %>
           
        <% elsif @charge.accepted? %>
        
              <%= link_to release_request_charge_path(@charge.id), method: :patch  do  %>
              <button class= "btn btn-sm btnprop"><i class="fa fa-check"></i> REQUEST CONFIRMATION</button>
              <%end%>

              <%= link_to  new_message_path(branduser_param: @charge.branduser_id)  do %>
					<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> Chat with brand</button>
            <%end %>
            
        <% else %>
      <%= link_to  new_message_path(branduser_param: @charge.branduser_id)  do %>
					<button class="btn btn-sm btnprop"><i class="fa fa-comment"></i> Chat with brand</button>
            <%end %>

      <%end%>
	





			
			 
		</div>
		
	</div>
</div>

<div class="subtitle">DETAILS</div>	

	

	<div class="proposalinfo2">
		<div class="subtitle"><i class="fa fa-diamond"></i> Product Details</div>
		<div class="row row0 bot-buffer10"><span>Name:</span> <%= @charge.product_name %></div>
		<div class="row row0 bot-buffer10"><span>Link:</span> <a href="<%= @charge.product_link %>" target="_blank"><%= @charge.product_link %></a></div>
		<div class="row row0 bot-buffer10"><span>Description:</span> <%= @charge.product_description %></div>
		<div class="row row0 bot-buffer10"><span>Instagram link:</span> <a href="<%= @charge.instagram_link %>" target="_blank"><%= @charge.instagram_link %></a></div>
	</div>

	<div class="proposalinfo2">
	<div class="subtitle"><i class="fa fa-instagram"></i> Post details</div>
		<div class="row row0 bot-buffer10"><span>Description:</span> <%= @charge.post_description %></div>
		<div class="row row0 bot-buffer10"><span>Caption:</span> <%= @charge.suggested_caption %></div>
		<div class="row row0 bot-buffer10"><span>Hashtags to include:</span> <%= @charge.hash_tags %></div>
		<div class="row row0 bot-buffer10"><span>Username to include:</span> <%= @charge.user_names %></div>
	</div>
	
	<div class="proposalinfo2">
		<div class="subtitle"><i class="fa fa-calendar"></i> Timeline</div>
		<div class="row row0 bot-buffer10"><span>Earliest post date:</span> <%= @charge.earliest_post_date %></div>
		<div class="row row0 bot-buffer10"><span>Last post by:</span> <%= @charge.last_post_date %></div>
	</div>

<!-- <div class="proposalinfo2 proposalinfo3">
		<div class="subtitle"><i class="fa fa-credit-card"></i> Price</div>
		<div class="row row0 bot-buffer10"><span><i class="fa fa-shopping-cart"></i> Proposed Price:</span>&nbsp;<%#= number_with_precision((@charge.amount.to_f/(120)).round(2), :precision=>2) %>&nbsp;USD&nbsp;&nbsp;&nbsp;<% #if @charge.pending? %><%#= link_to  new_message_path(branduser_param: @charge.branduser_id)  do %>
					 <i class="fa fa-comment"></i> Negotiate 
            <%#end %><%#end%></div>
	
	</div> -->



	
    <% if @charge.pending? %>
         
              <%= link_to accept_charge_path(@charge.id), method: :patch   do  %>
              <button class= "btn btn-send"><i class="fa fa-check"></i> ACCEPT</button>
              <%end%>

              <%= link_to decline_charge_path(@charge.id), method: :patch  do  %>
              <button class= "btn btn-send"><i class="fa fa-ban"></i> DECLINE</button>
              <%end%>
           
        <% elsif @charge.accepted? %>
        
              <%= link_to release_request_charge_path(@charge.id), method: :patch  do  %>
              <button class= "btn btn-send"><i class="fa fa-check"></i> REQUEST CONFIRMATION</button>
              <%end%>
            
        <% else %>
      

      <%end%>
  </div>
</div>
	