<% if (instauser_logged_in? && !branduser_logged_in?) %>
  <% if !@charges.present? and params[:action] == 'index' %>
    <div class="txtpage">
      <div class="container">
        <h2 class="text-center">PROPOSALS</h2>
        This is where you will manage the proposals you receive from brands who want to work with you. You will receive an email as soon as a brand is interested.
        <br><br>
        There are currently no proposals in your inbox.
      </div>
    </div>
      

  <% else %>
   <div class="msgpage">
<div class="container">
  <h2 class="text-center">PROPOSALS</h2> 
  
  <div class="subtitle">SNAPSHOT <div class="scoreinfo"><span>Your engagement score is a single number used to measure how engaged your followers are. The score is based on an algorithm we developed that we are in the process of trademarking. The higher the number, the more engaged your followers are!</span><i class="fa fa-question-circle"></i></div></div>
     
         
          <div class="clearfix">
    <div class="col-lg-4 col-sm-4 col-xs-12 col0">
      <div class="panel widget">
      <div class="widget-title proposalearn">$<%= @potential_earnings %></div>
       <div class="">Potential Earnings</div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 col0">
      <div class="panel widget">
      <div class="widget-title proposalearn">$<%= @upcomming_eatnings %></div>
       <div class="">Upcoming Earnings</div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-xs-12 col0">
      <div class="panel widget">
      <div class="widget-title proposalearn">$<%= @total_earnings %></div>
       <div class="">Total Earnings</div>
      </div>
    </div>
  </div>

  <div class="subtitle subtitle2">MY PROPOSALS <div class="scoreinfo"><span>Your engagement score is a single number used to measure how engaged your followers are. The score is based on an algorithm we developed that we are in the process of trademarking. The higher the number, the more engaged your followers are!</span><i class="fa fa-question-circle"></i></div></div>


 
  <label for="name" class="lblfilter">Filter by status</label>

       <ul class="nav nav-pills nav-pills-sm">
   
        
        <li>   <%= link_to "Accepted", list_charges_path(state: :accepted) %>  </li>
           
       
<li><%= link_to list_charges_path(state: :pending) do %>
              Pending<% count = unread_charges_count(current_instauser) %> 
              <%= "(#{count})" if count > 0 %>
            <% end %></li>
          
        
         <li> <%= link_to "Declined", list_charges_path(state: :declined) %>  </li>
           
         
      <li>    <%= link_to "Release", list_charges_path(state: :release_requested) %>  </li>
         
        
     <li>       <%= link_to list_charges_path(state: :completed) do %>
              Completed
              <% count = completed_charges_count(current_instauser) %> 
              <%= "(#{count})" if count > 0 %>
            <% end %></li>
           
       
    </ul>
     

  <% end %>



 



<% elsif branduser_logged_in? && !instauser_logged_in? %>
   <div class="msgpage">
<div class="container">
  <h2 class="text-center">PROPOSALS</h2> 

<div class="subtitle subtitle2">MY PROPOSALS <div class="scoreinfo"><span>Your engagement score is a single number used to measure how engaged your followers are. The score is based on an algorithm we developed that we are in the process of trademarking. The higher the number, the more engaged your followers are!</span><i class="fa fa-question-circle"></i></div></div>


 
  <label for="name" class="lblfilter">Filter by status</label>

       <ul class="nav nav-pills nav-pills-sm">
        <li>
          <%= link_to list_charges_path(state: :accepted) do %>
            Accepted <%= unread_branduser_charges_count(current_branduser, :accepted) %>
          <% end %>
      
      </li>
      <li >
       
          <%= link_to 'Pending', list_charges_path(state: :pending) %>
      
      </li>
      <li >
        
          <%= link_to list_charges_path(state: :declined) do %>
            Declined <%= unread_branduser_charges_count(current_branduser, :declined) %>
          <% end %>
        
      </li>
      <li>
       
          <%= link_to list_charges_path(state: :release_requested) do %>
            Release Requested <%= unread_branduser_charges_count(current_branduser, :release_requested) %>
          <% end %>
       
      </li>
      <li >
        
          <%= link_to 'Completed', list_charges_path(state: :completed) %>
       
      </li>
     
    </ul>
 
 
<% else %>
  <script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>
<% end %>
