
<% if (instauser_logged_in? && !branduser_logged_in?) %>

MONEY: <%= @earned/100 %>
<!-- buraya unaccepted accepted search tool gelecek !-->
<div id="leftbar">
	<ul class="list-group" id="form">

	 <font face="Lobster">
	 	<li class="list-group-item"><h4>
<%= link_to "Kabul", {:controller=> :charges, :action=> :publish_proposal, :status => "accepted"}, :method => :patch, remote: true %> </h4></li>
 <li class="list-group-item"><h4>
<%= link_to "Bekliyor", publish_proposal_path(:status => "unaccepted"), method: :patch, remote: true %>
 </h4></li></font>
 </div>
 
 <div id="publishproposal">

<!--
 <% @charges.each do |x| %>

<ul class="list-group" id="form">
<li class="list-group-item list-group-item-disabled">
<font face="lobster"><h3 align="center"><%= x.branduser.coname %></h3></font></li>
<li class="list-group-item">
	<%= "Miktar:" %>
<%= "$ "%><%= x.amount/100 %></li>
<li class="list-group-item">
	<%= "Ürün:" %>
<%= x.productname %></li>
<li class="list-group-item">
	<%= "Explanation:"%>
	<%= x.explanation %></li>
	<% if x.status=="accepted" %>
<li class="list-group-item" align="center">
<h4><span class="label label-success"><%= x.status %></span></h4>
</li>
<li class="list-group-item">
 <%= link_to "Message The Company", new_message_path(branduser_param: x.branduser.id) %>
 </li>
	 
<% elsif x.status=="unaccepted" %>
 
<li class="list-group-item list-group-item-disabled">
<h4><span class="label label-warning"><%= x.status %></span></h4></li>

<li class="list-group-item" align="center">
	<span class="btn-group"><button type="button" class="btn btn-default"><%= link_to "Accept the Proposal", {:controller=> "charges", :action=>"bill", :charge => "#{x.id}"},  data: {disable_with: "Accepting..."}  %>
 </button> </span></li>
 
<%end%>
 
</ul>
 <%end%> !-->
 
 </div>

	<% elsif branduser_logged_in? && !instauser_logged_in? %>

 
 <div id="leftbar">
 	
<ul class="list-group" id="form">
	<li class="list-group-item">
 <h4><font face="Lobster">
<%= link_to "Accepted", publish_proposal_path(:status => "accepted"), method: :patch, remote: true %> </h4></li>
<li class="list-group-item">
 <h4>
<%= link_to "Unaccepted", publish_proposal_path(:status => "unaccepted"), method: :patch, remote: true %>
 </h4></font></li>
  </div> 



 <div id="publishproposal">


<!-- <% @charges.each do |x| %>

	<ul class="list-group" id="form">
<li class="list-group-item">
 <%= image_tag(src=x.instauser.profile_picture, :width=>"20") %>
<font face="lobster"><%= x.instauser.username %></font> </li>
<li class="list-group-item">
	<%= "Miktar:" %>
<%= "$ "%><%= x.amount/100 %></li>
<li class="list-group-item">
	<%= "Ürün:" %>
<%= x.productname %></li>
<li class="list-group-item">
	<%= "Explanation:"%>
	<%= x.explanation %></li>
<li class="list-group-item">
	<%= "Durum:" %>
<span class="label label-default"><%= x.status %></span></li>
<li class="list-group-item">
<% if x.status=="accepted" %>
<%= link_to "Message User", new_message_path(instauser_param: x.instauser.id) %>
<% end %>
</li>
</ul>  <%end%>!--> 

</div>


<% else %>


<script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>


<%end%>