<%= render 'layouts/header2' %>

<% if (instauser_logged_in? && !branduser_logged_in?) %>
  <!-- buraya unaccepted accepted search tool gelecek !-->
  <div id="leftbar">
    <ul class="list-group" id="form">
      <font face="Lobster">
      <li class="list-group-item"><h4>
        My Earnings: <%= @earned %></h4>
      </li>
      <li class="list-group-item"><h4>
        <%= link_to "Accepted", publish_proposal_path(:status=> "accepted"), method: :patch, remote: true %> </h4></li>
      <li class="list-group-item"><h4>
        <%= link_to publish_proposal_path(:status=> "unaccepted"), method: :patch, remote: true do %>
          Waiting 
          <% count = unread_charges_count(current_instauser) %> 
          <%= "(#{count})" if count > 0 %>
        <% end %>
      </h4></li></font>
  </div>

  <div id="publishproposal">

  </div>

<% elsif branduser_logged_in? && !instauser_logged_in? %>
  <div id="leftbar">
    <ul class="list-group" id="form">
      <li class="list-group-item">
        <h4><font face="Lobster">
        <%= link_to "Accepted", publish_proposal_path(:status => "accepted"), method: :patch, remote: true %> </h4></li>
      <li class="list-group-item">
        <h4>
        <%= link_to "Unaccepted", publish_proposal_path(:status => "unaccepted"), method: :patch, remote: true %>
        </h4></font></li>
  </div> 

  <div id="publishproposal">

  </div>

<% else %>
  <script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
  </script>
<%end%>
