 <%= render 'layouts/header2' %>
 
 <div class="col-md-4" %>
 </div>
<div class="col-md-4" %>
 <div class="list-group">
<li class="list-group-item list-group-item-disabled" id="textcenter">
  <h3><strong><font face="Lobster"> <%= "Proposal" %></font></strong></h3>
</li>
 
<%= form_tag charges_path do  %>
 <div class="center">
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
     
   
 
  </article>
 <li class="list-group-item">
       <%= "Product Name:" %><br><%= text_field_tag( 'charge[productname]' , nil, size: 40 )%></li> 
       <li class="list-group-item">
    <%=  "Explanation:" %> <br><%= text_area_tag 'charge[explanation]', nil,  cols: 40 %></li>
    <li class="list-group-item">
  <%= "Post:" %><br> <%= text_area_tag 'charge[instapost]', nil, cols: 40 %> </li>
  <li class="list-group-item">
   <%= "Link:" %><br> <%= text_field_tag 'charge[instalink]', nil, size:40 %> </li>
    <li class="list-group-item">
     <%= "Instagramer Post Price:   "%><%= "$" %><%= @amount/100 %><br>
  <%= "Service Charge:  "%><%= "$" %><%= (@amount*0.15/100).round %><br><hr>

 <strong> <%= "TOTAL:  " %><%= "$" %><%= (@amount*1.15/100).round %></strong></li>
 <li class="list-group-item" align="center">
    <%= hidden_field_tag 'charge[amount]', (@amount*1.15).round %> 
    <%= hidden_field_tag :amount, (@amount*1.15).round %> 
   <%= hidden_field_tag :useremail, @instauser.email %>
  <%= hidden_field_tag 'charge[branduser_id]', @branduser.id %>
  <%= hidden_field_tag 'charge[instauser_id]', @instauser.id %>
  <%= hidden_field_tag 'charge[status]', "unaccepted" %> 

 

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description=<%= @message %>
                    data-amount= <%= (@amount*1.15).round %>
          data-locale="auto"
          data-label="Submit"
          data-email= <%=@branduser.email%>  
          data-allow-remember-me= "false" 


          ></script></li>

 
<br>
</div></div>
<% end %>
 
</div> 
 