<h2>Thanks, you paid <strong><%= @charge.amount/100 %><strong>! Your message was sent to the instagrammer.</h2>
<%= "charge saved thanks." %>

<%= @charge.id %>
 
<%= @charge.status %>
<%= @charge.productname %>
<%= @charge.explanation %>