 
  <!-- Brand and toggle get grouped for better mobile display -->

  <nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="navbar-header">
    

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    

  <% if !@current_instauser.nil? %>
  <%= link_to "capish", root_path(@current_instauser), class: "navbar-brand" %></div>
 <% elsif !@current_branduser.nil? %>
  <%= link_to "capish", root_path(@current_branduser), class: "navbar-brand" %></div>
  <%else %>
  <%= link_to "capish", root_path, class: "navbar-brand" %></div>
  <%end%>

 <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="REKLOGRAM">
        </div>
        <button type="submit" class="btn btn-default"> </button> 
      </form>-->
 

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">


    <!--
      
      <% if instauser_logged_in?  %>
              <ul class="nav navbar-nav navbar-left">
             
              
              <li><%= link_to "User Dashboard", dashboard_path(current_instauser), data: {disable_with: "Loading Now..."} %></li> 
              <li><%= link_to "Proposals", charges_path , data: {disable_with: "Loading Now..."} %></li> 
              <li><%= link_to "Messages", messages_path , data: {disable_with: "Loading Now..."} %></li> 
                
              </ul>


              <ul class="nav navbar-nav navbar-right">
                 <li><a><%= current_instauser.username %></a></li>
                 <li><%= link_to "Settings", edit_instauser_path(current_instauser) %></li> 
                 <li><%= link_to "Logout", logout_path(current_instauser) , :method => :delete %></li>
              </ul>


      <% elsif branduser_logged_in? %>
                <ul class="nav navbar-nav navbar-left">
                
               
                <li><%= link_to "Company Dashboard", bdashboard_path(id: current_branduser.id) , data: {disable_with: "Loading Now..."} %></li> 
                      <li><%= link_to "Proposals", charges_path , data: {disable_with: "Loading Now..."} %></li> 
                       <li><%= link_to "Messages", messages_path , data: {disable_with: "Loading Now..."} %></li> 
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <li><a><%= current_branduser.fullname %></a></li>
                    <li><%= link_to "<span class=\"glyphicon glyphicon-cog\"></span>".html_safe, edit_branduser_path(current_branduser) %></li> 
                     <li><%= link_to "<span class=\"glyphicon glyphicon-log-out\"></span>".html_safe, blogout_path(current_branduser), :method => :delete %></li>

                  </ul>


      <% else %> 
                <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "About", pages_about_path %></li>
                <li><%= link_to "Login as Instagramer", login_path, data: {disable_with: "Loading Now..."} %></li> 
                <li><%= link_to "Login as Brand", blogin_path, data: {disable_with: "Loading Now..."} %></li> 

              </ul>
      <%end%>
       
!-->
 
</div>
 
</div>

  <!-- /.navbar-collapse -->
</nav>