<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>capish.co</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="6xS_MBEN55X3TgaStpjJ6SdN0sbArVSLlrHciRYVvHc" />
</head>
<body>
	 
<%= render 'layouts/header' -%>
 <!--
<div id="flash_messages"><%= flash_messages(:close, :fade)  %></div>   !-->

 
	
<%= yield -%>
  
</body>
</html>
