<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deliver Original Content</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




  <meta name="google-site-verification" content="6xS_MBEN55X3TgaStpjJ6SdN0sbArVSLlrHciRYVvHc" />
  <meta name="description" content="Deliver Original Content">
<meta name="keywords" content="instagram, collaboration, brands, instagrammers">
<meta name="author" content="capish">
</head>
<body>
	 
   
 <!--
<div id="flash_messages"><%= flash_messages(:close, :fade)  %></div>   !-->

 
	
<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
