<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Deliver Original Content, Share Your Passions, Get Paid! </title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="6xS_MBEN55X3TgaStpjJ6SdN0sbArVSLlrHciRYVvHc" />
  <meta name="description" content="It is a simple way for Instagrammers to share their passions and get paid!">
  <meta name="keywords" content="instagram, collaboration, brands, instagrammers, money">
  <meta name="author" content="capish">
  <meta name='og:image' content="https://afternoon-harbor-54970.herokuapp.com/art7.png">
  <link rel="icon" type="image/png" href="<%= image_url('favicon.png') %>">

</head>
<body>

  <%= yield %>

  <% render 'layouts/footer' %>

</body>
</html>