<!-- search !-->

<div class="container">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
 <div class="panel" id="search">
  <div align="center">
 

<%= form_for :instauser, url: search_path, html: {:class => "form-inline"}   do |f| %>  

 <font size="2"> <%= "Yaş" %><%= ":" %>
 
  <%= f.number_field :age1 , :placeholder=>"18", :input_html => { :value => '18', :class=> "form-group"}%><%= "-" %> 

  <%= f.number_field :age2 , :placeholder=>"24", :input_html => { :value => '24' } %> <br>

  <%= "Cinsiyet:" %>
    <%= f.select :location,
    options_for_select([['Erkek','Erkek'],['Kadın','Kadın']] ,2),{}%>   
  <%= "Şehir:" %>
    <%= f.select :location,
    options_for_select([['İstanbul','İstanbul'],['İzmir','İzmir'], ['Ankara','Ankara'], ['Samsun','Samsun'],['New York','New York'],['Amsterdam','Amsterdam'],['Berlin','Berlin']] ,2),{}%>   
      <%= "Konu:" %>
     <%= f.select :theme, 
    options_for_select([['Yemek','Yemek'],['Gezi','Gezi'], ['Sanat','Sanat'], ['Güzellik','Güzellik'], ['Moda','Moda'],['Dans','Dans'],['Motorsiklet','Motorsiklet'],['Müzik','Müzik'],['Doğa','Doğa'],['Spor','Spor'], ['Şehir Hayatı','Şehir Hayatı'],['Fitness','Fitness'], ['Tasarım','Tasarım'], ['Cinsel','Cinsel']], 2), {}%> 
 
 <%= "Max Fiyat:" %>
     <%= f.select :postprice, 
    options_for_select([['100','100'],['200','200'], ['300','300'], ['400','400'],['500','500'],['1000','1000'],['2000','2000']],2),{} %> 
   

 <%= "Min. Followers:" %> 
     <%= f.select :followed_by, 
    options_for_select([['0','0'],['15000','15000'],['30000','30000'], ['50000','50000'], ['100k','100000']],2),{} %> 
 
   <%= "Min. Average Likes:" %>
     <%= f.select :averagelikes, 
    options_for_select([['0','0'],['5','5'], ['10','10'], ['100','100']],2),{}, :placeholder=>"average likes" %> 
 
 
    <%= f.submit "Ara", class: "btn btn-xs btn-success" , data: {disable_with: "Arıyor..."} %> </font>
  
<%end%>
 </div></div>
 
 </div></div> 
<!-- LISTING INSTAUSERS !-->


<% @instausers.each do |x| %>
 
 <% @profile_picture_url=x.profile_picture %>

  <div class="col-md-3">
   <ul class="list-group" id="form">
    <li class="list-group-item">
<p><span class="username" id="any"> <%= x.fullname %></span>
<span class="pull-right" id="any"> <%= image_tag(src=@profile_picture_url, :width=>"40", :height=>"40", :class=>"no-wrap")%></span></p>
</li>
  
 <li class="list-group-item">
    <span class="badge"><%= x.followed_by %></span>
Followers  </li>

 <li class="list-group-item">
    <span class="label label-info pull-right"><%= x.theme %></span>
Konu  </li>


<li class="list-group-item">
    <span class="badge"><%= x.averagelikes %></span>
Likes on avg. </li>

<li class="list-group-item">
    <span class="badge"><%= x.averagecomments %></span>
Comments on avg. </li>

<li class="list-group-item">
    <span class="badge"><%= x.location %></span>
Location  </li><li class="list-group-item">
    <span class="badge"><%= x.age %></span>
Age  </li><li class="list-group-item">
    <span class="badge badge-success">$<%= x.postprice %></span>
Price </li>

<li class="list-group-item">
<% c= x.recent_media_urls %>
<% a= c.tr("[]","") %>
<% b= a.tr('"',"") %>
<% array= b.split(",") %>
<p>
<% array.each do |s| %> 
<img src='<%=s%>', width="50" ></a>
<%end%> 
</p>
</li>



</ul>
  
    
    
  
 
</div>
<%end %>