
 <%= render 'layouts/header2' %> 

<div class="container">
  <div class="row">
    <div class="col-xs-5" id="form">
      <br>
      <%= form_for(@branduser)  do |f| %>  
        <div class="input-group"> 
          <div class="form-group"> 
             <%= f.label :firstname %> <br> 
            <%= f.text_field :firstname, class: "form-control", size: "50" %> <br>
          </div>
           <%= f.label :lastname %> <br> 
            <%= f.text_field :lastname, class: "form-control", size: "50" %> <br>
          <%= f.label :email  %> <br>
          <%= f.text_field :email, class: "form-control" %> <br>

          <%= f.label :password %><br> 
          <%= f.password_field :password, class: "form-control" %> <br>
          <%= f.label :phone %><br> 
          <%= f.number_field :phone, class: "form-control" %> <br>
          <%= f.label :company %><br> 
          <%= f.text_field :coname, class: "form-control" %> <br>

            <strong> <%= "Your Title" %></strong><br> 
          <%= f.text_field :title, class: "form-control" %> <br>
          
          <%= f.label :country %><br> 
          <%= f.select :country, 
          options_for_select([['Turkey','Turkey'],['USA','USA'], ['Netherlands', 'Netherlands']], params[:country]),
          {}, { :class => 'form-control' }  %>

          <%= f.label :website %> <br>
          <%= f.text_field :cowebsite, class: "form-control"  %> <br>
          <%= "Number of Employees:" %> <br>
          <%= f.select :comsize, 
          options_for_select([['0-10','0-10'],['11-50','11-50'], ['51-100', '51-100'], ['101-1000','101-1000'],['1001+','1001+']],2),
          {}, { :class => 'form-control' }  %> <br>
          <!-- 
          <%= f.label :image %> <br>
          <%= f.file_field :image, class: "form-control" %> <br> !-->
        </div> <br>
        <div class="actions"> 
          <%= f.submit "Gönder"  %> 
        </div> 
      <br>
      <% end %>
    </div>
  </div>
</div>
