 
 <%= render 'layouts/header2' %> 

<div class="signup signup2">
<div class="container">

  
 
<h2 class="text-center">SETTINGS</h2>
 
   <%= form_for(@branduser, :html => {:role => 'form', :autocomplete => 'off'})  do |f| %> 

   <%= render 'shared/error_messages' %> 
   
			  <div class="form-group form-groupname1 pull-left">

			  	  <%= f.text_field :firstname, class: "form-control formcapish" , id: "usr" ,placeholder: "First name *", onfocus: "this.placeholder = ''" , onblur: "this.placeholder'First name *'" %> 
			  </div>



				<div class="form-group form-groupname2 pull-right">
					 <%= f.text_field :lastname,  class: "form-control formcapish",  id:"usr" , placeholder: "Last name *",  onfocus: "this.placeholder = ''" , onblur: "this.placeholder='Last name *'" %>

				</div>
	
				<div class="form-group form-groupemail">

				<%= f.text_field :email, type:"email" , onblur: "this.placeholder='kimkardashian@gmail.com'",  onfocus: "this.placeholder = ''" , placeholder: "" , id: "email" , class: "form-control formcapish" %>
			   

			  </div>
  
			  <div class="form-group form-grouppass">


			  <%= f.password_field :password,  type: "password", class: "form-control formcapish",  id: "email" , placeholder: "Password *" , onfocus: "this.placeholder = ''" , onblur: "this.placeholder='Password'"%>
			     
			  </div>
  
				<div class="form-group form-groupphone">

					<%= f.number_field :phone, class: "form-control formcapish",  id: "email" , placeholder: "Phone *" , onfocus: "this.placeholder = ''", onblur: "this.placeholder='Phone *'" %>

					 
				  </div>
	  
				  <div class="form-group form-groupcomp">

				  	<%= f.text_field :coname, class: "form-control formcapish",  id: "email",  placeholder: "Company *" , onfocus: "this.placeholder = ''" , onblur: "this.placeholder='Company *'"  %> 

					 
				  </div>
	  
				  <div class="form-group form-grouptitle">
				  	<%= f.text_field :title,  class: "form-control formcapish" , id: "email" ,placeholder: "Your title *", onfocus: "this.placeholder = ''",  onblur: "this.placeholder='Your title *'" %>
				  </div>
	  
					  <div class="form-group form-selectfull form-noborder">
					<label for="name" class="gender"><i class="fa fa-globe"></i>Country *</label>
					<%= f.select :country, 
				          options_for_select([['Germany', 'Germany'], ['Italy', 'Italy'], ['Netherlands', 'Netherlands'],['Romania','Romania'],['Turkey','Turkey'],['UAE', 'UAE'], ['USA','USA']], @branduser.country),
				          {}, { :class => 'form-control' }  %>

					</div>

					   <div class="form-group form-groupweb">

					   	<%= f.text_field :cowebsite, type: "url", class: "form-control formcapish", id: "email" , placeholder: "Website *",  onfocus: "this.placeholder = ''" , onblur: "this.placeholder='Website *'"   %>
					 
					  </div>
	  
	  <div class="form-group form-selectfull form-noborder">
	<label for="name" class="gender"><i class="fa fa-users"></i>Number of employees *</label>

	<%= f.select :comsize, 
          options_for_select([['0-10','0-10'],['11-50','11-50'], ['51-100', '51-100'],['101-500', '101-500'] ,['501-1000','501-1000'],['1001+','1001+']],@branduser.comsize),
          {}, { :class => 'form-control' }  %> 
	</div>
	
  <div class="row row0 text-right"> <%= button_tag(type: 'submit', class: "btn btn-send") do %>  SAVE <% end %></div>
  <div class="row row0 text-right terms">By clicking save, you agree to our <a href="/pages/terms" target="_blank">terms of use</a></div>
<%end%>

</div>
</div>
 

<div class="footer-wrapper">
<div class="container text-center">
	<footer>
		<a href="/pages/about">About</a>
		<a href="/faq">FAQ</a>
		<a href="/privacy">Privacy</a>
		<a href="/pages/terms">Terms</a>
	</footer>
</div>
</div>
<script type="text/javascript">
	$('.selectpicker').selectpicker({
  size: 4
});		
</script>


<script>
$(function() {

    var valid = {};

    valid['branduser[firstname]'] = true;
    valid['branduser[lastname]'] = true;
    valid['branduser[email]'] = true;
    valid['branduser[password]'] = true;
    valid['branduser[phone]'] = true;
    valid['branduser[coname]'] = true;
    valid['branduser[title]'] = true;
    valid['branduser[cowebsite]'] = true;

    var $submitBtn = $('button[type=submit]');
    var mailRegex = /^\w+([\.\-\']?\w+)*@\w+([\.\-\']?\w+)*(\.\w{2,8})/;

    function check() {
        var isValid = true;
        for (var item in valid) {
            var $c = $('[name="' + item + '"]');
            valid[item] = !!($c.val().trim());
            if (valid[item] && item == 'branduser[email]') {
                valid[item] = mailRegex.test($c.val());
            }
            $c.parent()[valid[item] ? 'removeClass' : 'addClass']('error');
            if (!valid[item])
                isValid = false;
        }
        return isValid;
    }


    for (var item in valid) {
        (function(item) {
            var handler = function(e) {
                var isValid = !!($(this).val().trim());
                if (isValid && item == 'branduser[email]') {
                    isValid = mailRegex.test($(this).val());
                }
                $(this).parent()[isValid ? 'removeClass' : 'addClass']('error');
            };

            var $c = $('[name="' + item + '"]');
            $c.change(handler);
            $c.blur(handler);
        })(item);
    }

    $('button[type=submit]').click(function(e) {
        e.preventDefault();
        e.stopPropagation;

        if (!check()) {
            //todo
        } else {
            $('form').submit();
        }
    });

}); </script>