
  <%= form_for(@branduser) do |f| %>  
  <div class="input-group"> 
  	<div class="form-group"> 
    <%= f.label :fullname %><br> 
    <%= f.text_field :fullname, class: "form-control" %> <br>
   </div>
   <%= f.label :password %><br> 
    <%= f.text_field :password, class: "form-control" %> <br>
    <%= f.label :phone %><br> 
    <%= f.text_field :phone, class: "form-control" %> <br>
    <%= f.label :company %><br> 
    <%= f.text_field :coname, class: "form-control" %> <br>
    <%= f.label :country %><br> 
    <%= f.text_field :country, class: "form-control" %> <br>
     <%= f.label :website %> <br>
    <%= f.text_field :cowebsite, class: "form-control"  %> <br>
     <%= f.label :email  %> <br>
     <%= f.text_field :email, class: "form-control" %> <br>
     <%= f.label :image %> <br>
     <%= f.file_field :image, class: "form-control" %> <br>
     
     
  </div> <br>
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>